<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>无名小站</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<script type="text/javascript"></script>
	{% block head %}{% endblock head %}
</head>
<body>

{% block body%}{% endblock body %}
{#	<div class="footer no-mp">#}
{#		<div class="foot_link">#}
{#			<a href="#">关于我</a>#}
{#			<span>|</span>#}
{#			<a href="#">联系我</a>#}
{#			<span>|</span>#}
{#			<a href="#">友情链接</a>#}
{#		</div>#}
{#		<p>迦尔吉的个人小站</p>#}
{#		<p>电话：17390309332</p>#}
{#	</div>#}

</body>
</html>