<svg height="330" width="413" xmlns="http://www.w3.org/2000/svg">
<g transform="scale(1)">
<title>Ag-108 decay scheme - EC, Beta+ branching</title>
<rect fill="rgb(255,255,255)" height="322" stroke="rgb(0,128,255)" stroke-width="1.0" width="409" x="2" y="2"></rect>
<rect fill="rgb(255,255,255)" height="30" stroke="rgb(0,128,255)" stroke-width="1.0" width="45" x="2" y="2"></rect>
<text font-family="Helvetica, Arial, sans-serif" font-size="12" font-weight="bold" text-anchor="middle" x="24.5" xml:space="preserve" y="16.2">β<tspan dy="-4">+</tspan><tspan dy="4">, ε</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="middle" x="24.5" xml:space="preserve" y="28.2">2.47%</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="344" xml:space="preserve" y="32"><tspan dx="-1" dy="-10">108</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="18" text-anchor="left" x="344" xml:space="preserve" y="32">Ag</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="344" xml:space="preserve" y="32"><tspan dx="-1" dy="3">47</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="303" xml:space="preserve" y="43">2.382 (11) min</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.0" x1="313" x2="383" y1="40" y2="40"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="383" xml:space="preserve" y="37">0</text>
<text fill="rgb(85,204,85)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="313" xml:space="preserve" y="60"> β<tspan dy="-4">+</tspan><tspan dy="4"> (%)</tspan></text>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="313" x2="313" y1="40" y2="52"></line>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="313" x2="305" y1="52" y2="60"></line>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="305" x2="293" y1="60" y2="60"></line>
<path d="m293,60 l-2,-8 l2,2 l2,-2 z" fill="rgb(85,204,85)" stroke="rgb(85,204,85)" stroke-width="1.0" transform="rotate(90,293,60)"></path>
<text fill="rgb(228,50,50)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="313" xml:space="preserve" y="50"> ε   (%)</text>
<line stroke="rgb(228,50,50)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="313" x2="293" y1="40" y2="60"></line>
<path d="m293,60 l-2,-8 l2,2 l2,-2 z" fill="rgb(228,50,50)" stroke="rgb(228,50,50)" stroke-width="1.0" transform="rotate(45,293,60)"></path>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="267">0</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="272"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="293" xml:space="preserve" y="267">0 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="293" y1="270" y2="270"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="270" y2="270"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="278" x2="293" y1="270" y2="270"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="242">433.938</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="247"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="293" xml:space="preserve" y="242">1 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="293" y1="245" y2="245"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="245" y2="245"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="278" x2="293" y1="245" y2="245"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="217">931.07</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="222"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="293" xml:space="preserve" y="217">2 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="293" y1="220" y2="220"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="220" y2="220"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="278" x2="293" y1="220" y2="220"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="192">1052.8</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="197"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="293" xml:space="preserve" y="192">3 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="293" y1="195" y2="195"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="195" y2="195"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="278" x2="293" y1="195" y2="195"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="167">1314.2</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="172"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="293" xml:space="preserve" y="167">4 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="293" y1="170" y2="170"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="170" y2="170"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="278" x2="293" y1="170" y2="170"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="142">1441.16</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="147"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="293" xml:space="preserve" y="142">5 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="293" y1="145" y2="145"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="145" y2="145"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="278" x2="293" y1="145" y2="145"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="117">1539.95</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="122"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="293" xml:space="preserve" y="117">6 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="293" y1="120" y2="120"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="120" y2="120"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="278" x2="293" y1="120" y2="120"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="101">(keV)</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="179.5" xml:space="preserve" y="296"><tspan dx="-1" dy="-10">108</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="18" text-anchor="left" x="179.5" xml:space="preserve" y="296">Pd</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="179.5" xml:space="preserve" y="296"><tspan dx="-1" dy="3">46</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="middle" x="181.5" xml:space="preserve" y="314">Q<tspan dy="2" font-size="8">β</tspan><tspan dy="-4" font-size="8">+</tspan><tspan dy="2" font-size="9"> = 1922 keV</tspan></text>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,123,120)" x="126" xml:space="preserve" y="120">0.00094</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,123,120)" x="126" xml:space="preserve" y="120">0.00094</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="123" x2="123" y1="121" y2="262"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="123" x2="123" y1="120" y2="270"></line>
<path d="m123,270 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,136,120)" x="139" xml:space="preserve" y="120">0.0013</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,136,120)" x="139" xml:space="preserve" y="120">0.0013</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="136" x2="136" y1="121" y2="237"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="136" x2="136" y1="120" y2="245"></line>
<path d="m136,245 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,149,145)" x="152" xml:space="preserve" y="145">0.00269</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,149,145)" x="152" xml:space="preserve" y="145">0.00269</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="149" x2="149" y1="146" y2="262"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="149" x2="149" y1="145" y2="270"></line>
<path d="m149,270 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,162,145)" x="165" xml:space="preserve" y="145">0.0126</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,162,145)" x="165" xml:space="preserve" y="145">0.0126</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="162" x2="162" y1="146" y2="237"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="162" x2="162" y1="145" y2="245"></line>
<path d="m162,245 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,175,145)" x="178" xml:space="preserve" y="145">0.0017</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,175,145)" x="178" xml:space="preserve" y="145">0.0017</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="175" x2="175" y1="146" y2="187"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="175" x2="175" y1="145" y2="195"></line>
<path d="m175,195 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,188,170)" x="191" xml:space="preserve" y="170">0.00298</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,188,170)" x="191" xml:space="preserve" y="170">0.00298</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="188" x2="188" y1="171" y2="237"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="188" x2="188" y1="170" y2="245"></line>
<path d="m188,245 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,201,170)" x="204" xml:space="preserve" y="170">0.00083</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,201,170)" x="204" xml:space="preserve" y="170">0.00083</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="201" x2="201" y1="171" y2="212"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="201" x2="201" y1="170" y2="220"></line>
<path d="m201,220 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,214,195)" x="217" xml:space="preserve" y="195">0.245</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,214,195)" x="217" xml:space="preserve" y="195">0.245</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="214" x2="214" y1="196" y2="237"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="214" x2="214" y1="195" y2="245"></line>
<path d="m214,245 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,227,220)" x="230" xml:space="preserve" y="220">0.00048</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,227,220)" x="230" xml:space="preserve" y="220">0.00048</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="227" x2="227" y1="221" y2="262"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="227" x2="227" y1="220" y2="270"></line>
<path d="m227,270 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,240,220)" x="243" xml:space="preserve" y="220">0.00152</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,240,220)" x="243" xml:space="preserve" y="220">0.00152</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="240" x2="240" y1="221" y2="237"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="240" x2="240" y1="220" y2="245"></line>
<path d="m240,245 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,253,245)" x="256" xml:space="preserve" y="245">0.46</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,253,245)" x="256" xml:space="preserve" y="245">0.46</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="253" x2="253" y1="246" y2="262"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="253" x2="253" y1="245" y2="270"></line>
<path d="m253,270 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(85,204,85)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="313" xml:space="preserve" y="263"> 0.28</text>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="313" x2="305" y1="262" y2="270"></line>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="305" x2="293" y1="270" y2="270"></line>
<path d="m293,270 l-2,-8 l2,2 l2,-2 z" fill="rgb(85,204,85)" stroke="rgb(85,204,85)" stroke-width="0.5" transform="rotate(90,293,270)"></path>
<text fill="rgb(85,204,85)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="313" xml:space="preserve" y="238"> 0.0026</text>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="313" x2="305" y1="237" y2="245"></line>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="305" x2="293" y1="245" y2="245"></line>
<path d="m293,245 l-2,-8 l2,2 l2,-2 z" fill="rgb(85,204,85)" stroke="rgb(85,204,85)" stroke-width="0.5" transform="rotate(90,293,245)"></path>
<text fill="rgb(228,50,50)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="313" xml:space="preserve" y="253"> 1.73</text>
<line stroke="rgb(228,50,50)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="313" x2="293" y1="250" y2="270"></line>
<path d="m293,270 l-2,-8 l2,2 l2,-2 z" fill="rgb(228,50,50)" stroke="rgb(228,50,50)" stroke-width="1.0" transform="rotate(45,293,270)"></path>
<text fill="rgb(228,50,50)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="313" xml:space="preserve" y="228"> 0.19</text>
<line stroke="rgb(228,50,50)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="313" x2="293" y1="225" y2="245"></line>
<path d="m293,245 l-2,-8 l2,2 l2,-2 z" fill="rgb(228,50,50)" stroke="rgb(228,50,50)" stroke-width="0.5" transform="rotate(45,293,245)"></path>
<text fill="rgb(228,50,50)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="313" xml:space="preserve" y="178"> 0.243</text>
<line stroke="rgb(228,50,50)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="313" x2="293" y1="175" y2="195"></line>
<path d="m293,195 l-2,-8 l2,2 l2,-2 z" fill="rgb(228,50,50)" stroke="rgb(228,50,50)" stroke-width="0.5" transform="rotate(45,293,195)"></path>
<text fill="rgb(228,50,50)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="313" xml:space="preserve" y="153"> 0.0038</text>
<line stroke="rgb(228,50,50)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="313" x2="293" y1="150" y2="170"></line>
<path d="m293,170 l-2,-8 l2,2 l2,-2 z" fill="rgb(228,50,50)" stroke="rgb(228,50,50)" stroke-width="0.5" transform="rotate(45,293,170)"></path>
<text fill="rgb(228,50,50)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="313" xml:space="preserve" y="128"> 0.017</text>
<line stroke="rgb(228,50,50)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="313" x2="293" y1="125" y2="145"></line>
<path d="m293,145 l-2,-8 l2,2 l2,-2 z" fill="rgb(228,50,50)" stroke="rgb(228,50,50)" stroke-width="0.5" transform="rotate(45,293,145)"></path>
<text fill="rgb(228,50,50)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="313" xml:space="preserve" y="103"> 0.00224</text>
<line stroke="rgb(228,50,50)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="313" x2="293" y1="100" y2="120"></line>
<path d="m293,120 l-2,-8 l2,2 l2,-2 z" fill="rgb(228,50,50)" stroke="rgb(228,50,50)" stroke-width="0.5" transform="rotate(45,293,120)"></path>
</g>
</svg>