<svg height="405" width="361" xmlns="http://www.w3.org/2000/svg">
<g transform="scale(1)">
<title>Am-244 decay scheme - Beta- branching</title>
<rect fill="rgb(255,255,255)" height="397" stroke="rgb(0,128,255)" stroke-width="1.0" width="357" x="2" y="2"></rect>
<rect fill="rgb(255,255,255)" height="30" stroke="rgb(0,128,255)" stroke-width="1.0" width="45" x="314" y="2"></rect>
<text font-family="Helvetica, Arial, sans-serif" font-size="12" font-weight="bold" text-anchor="middle" x="336.5" xml:space="preserve" y="16.8">β<tspan dy="-4">-</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="middle" x="336.5" xml:space="preserve" y="27.8">100%</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="63" xml:space="preserve" y="32"><tspan dx="-1" dy="-10">244</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="18" text-anchor="left" x="63" xml:space="preserve" y="32">Am</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="63" xml:space="preserve" y="32"><tspan dx="-1" dy="3">95</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="left" x="110" xml:space="preserve" y="43">10.1 (1) h</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.0" x1="30" x2="100" y1="40" y2="40"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="30" xml:space="preserve" y="37">0</text>
<text fill="rgb(85,204,85)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="end" x="100" xml:space="preserve" y="60">β<tspan dy="-4">-</tspan><tspan dy="4"> (%) </tspan></text>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="100" x2="120" y1="40" y2="60"></line>
<path d="m120,60 l-2,-8 l2,2 l2,-2 z" fill="rgb(85,204,85)" stroke="rgb(85,204,85)" stroke-width="1.0" transform="rotate(-45,120,60)"></path>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="291" xml:space="preserve" y="342">0</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="291" xml:space="preserve" y="347">  18.11 a</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="342"> 0</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="291" y1="345" y2="345"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="345" y2="345"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="251" x2="291" y1="345" y2="345"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="291" xml:space="preserve" y="317">42.965</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="291" xml:space="preserve" y="322"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="317"> 1</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="291" y1="320" y2="320"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="320" y2="320"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="251" x2="291" y1="320" y2="320"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="291" xml:space="preserve" y="292">142.348</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="291" xml:space="preserve" y="297"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="292"> 2</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="291" y1="295" y2="295"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="295" y2="295"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="251" x2="291" y1="295" y2="295"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="291" xml:space="preserve" y="267">296.211</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="291" xml:space="preserve" y="272"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="267"> 3</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="291" y1="270" y2="270"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="270" y2="270"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="251" x2="291" y1="270" y2="270"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="291" xml:space="preserve" y="242">501.786</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="291" xml:space="preserve" y="247"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="242"> 4</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="291" y1="245" y2="245"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="245" y2="245"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="251" x2="291" y1="245" y2="245"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="291" xml:space="preserve" y="117">1040.188</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="291" xml:space="preserve" y="122">  34 ms</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="117"> 9</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="291" y1="120" y2="120"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="120" y2="120"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="251" x2="291" y1="120" y2="120"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="291" xml:space="preserve" y="101">(keV)</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="203.5" xml:space="preserve" y="371"><tspan dx="-1" dy="-10">244</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="18" text-anchor="left" x="203.5" xml:space="preserve" y="371">Cm</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="203.5" xml:space="preserve" y="371"><tspan dx="-1" dy="3">96</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="middle" x="205.5" xml:space="preserve" y="389">Q<tspan dy="2" font-size="8">β</tspan><tspan dy="-4" font-size="8">-</tspan><tspan dy="2" font-size="9"> = 1427.3 keV</tspan></text>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,148,120)" x="151" xml:space="preserve" y="120">28</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" font-weight="bold" stroke-width="0.0" text-anchor="left" transform="rotate(-60,148,120)" x="151" xml:space="preserve" y="120">28</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="148" x2="148" y1="121" y2="287"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="148" x2="148" y1="120" y2="295"></line>
<path d="m148,295 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="1.0"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,161,120)" x="164" xml:space="preserve" y="120">66</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" font-weight="bold" stroke-width="0.0" text-anchor="left" transform="rotate(-60,161,120)" x="164" xml:space="preserve" y="120">66</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="161" x2="161" y1="121" y2="262"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="161" x2="161" y1="120" y2="270"></line>
<path d="m161,270 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="1.0"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,174,120)" x="177" xml:space="preserve" y="120">0.66</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,174,120)" x="177" xml:space="preserve" y="120">0.66</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="174" x2="174" y1="121" y2="237"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="174" x2="174" y1="120" y2="245"></line>
<path d="m174,245 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,187,245)" x="190" xml:space="preserve" y="245">0.35</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,187,245)" x="190" xml:space="preserve" y="245">0.35</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="187" x2="187" y1="246" y2="262"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="187" x2="187" y1="245" y2="270"></line>
<path d="m187,270 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,200,270)" x="203" xml:space="preserve" y="270">19</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" font-weight="bold" stroke-width="0.0" text-anchor="left" transform="rotate(-60,200,270)" x="203" xml:space="preserve" y="270">19</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="200" x2="200" y1="271" y2="287"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="200" x2="200" y1="270" y2="295"></line>
<path d="m200,295 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="1.0"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,213,295)" x="216" xml:space="preserve" y="295">5</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,213,295)" x="216" xml:space="preserve" y="295">5</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="213" x2="213" y1="296" y2="312"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="213" x2="213" y1="295" y2="320"></line>
<path d="m213,320 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="1.0"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,226,320)" x="229" xml:space="preserve" y="320">0.096</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,226,320)" x="229" xml:space="preserve" y="320">0.096</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="226" x2="226" y1="321" y2="337"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="226" x2="226" y1="320" y2="345"></line>
<path d="m226,345 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(85,204,85)" font-family="Helvetica, Arial, sans-serif" font-size="10" font-weight="bold" stroke-width="0.0" text-anchor="end" x="100" xml:space="preserve" y="103">100 </text>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="100" x2="120" y1="100" y2="120"></line>
<path d="m120,120 l-2,-8 l2,2 l2,-2 z" fill="rgb(85,204,85)" stroke="rgb(85,204,85)" stroke-width="1.0" transform="rotate(-45,120,120)"></path>
</g>
</svg>