<svg height="330" width="439" xmlns="http://www.w3.org/2000/svg">
<g transform="scale(1)">
<title>Ba-140 decay scheme - Beta- branching</title>
<rect fill="rgb(255,255,255)" height="322" stroke="rgb(0,128,255)" stroke-width="1.0" width="435" x="2" y="2"></rect>
<rect fill="rgb(255,255,255)" height="30" stroke="rgb(0,128,255)" stroke-width="1.0" width="45" x="392" y="2"></rect>
<text font-family="Helvetica, Arial, sans-serif" font-size="12" font-weight="bold" text-anchor="middle" x="414.5" xml:space="preserve" y="16.8">β<tspan dy="-4">-</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="middle" x="414.5" xml:space="preserve" y="27.8">100%</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="63" xml:space="preserve" y="32"><tspan dx="-1" dy="-10">140</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="18" text-anchor="left" x="63" xml:space="preserve" y="32">Ba</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="63" xml:space="preserve" y="32"><tspan dx="-1" dy="3">56</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="left" x="110" xml:space="preserve" y="43">12.753 (5) d</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.0" x1="30" x2="100" y1="40" y2="40"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="30" xml:space="preserve" y="37">0</text>
<text fill="rgb(85,204,85)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="end" x="100" xml:space="preserve" y="60">β<tspan dy="-4">-</tspan><tspan dy="4"> (%) </tspan></text>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="100" x2="120" y1="40" y2="60"></line>
<path d="m120,60 l-2,-8 l2,2 l2,-2 z" fill="rgb(85,204,85)" stroke="rgb(85,204,85)" stroke-width="1.0" transform="rotate(-45,120,60)"></path>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="369" xml:space="preserve" y="267">0</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="369" xml:space="preserve" y="272">  1.67858 d</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="267"> 0</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="369" y1="270" y2="270"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="270" y2="270"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="329" x2="369" y1="270" y2="270"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="369" xml:space="preserve" y="242">29.9641</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="369" xml:space="preserve" y="247"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="242"> 1</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="369" y1="245" y2="245"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="245" y2="245"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="329" x2="369" y1="245" y2="245"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="369" xml:space="preserve" y="217">43.844</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="369" xml:space="preserve" y="222"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="217"> 2</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="369" y1="220" y2="220"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="220" y2="220"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="329" x2="369" y1="220" y2="220"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="369" xml:space="preserve" y="192">63.179</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="369" xml:space="preserve" y="197"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="192"> 3</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="369" y1="195" y2="195"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="195" y2="195"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="329" x2="369" y1="195" y2="195"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="369" xml:space="preserve" y="167">162.6591</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="369" xml:space="preserve" y="172"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="167"> 4</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="369" y1="170" y2="170"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="170" y2="170"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="329" x2="369" y1="170" y2="170"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="369" xml:space="preserve" y="142">467.63</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="369" xml:space="preserve" y="147">  7.7 ns</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="142"> 5</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="369" y1="145" y2="145"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="145" y2="145"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="329" x2="369" y1="145" y2="145"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="369" xml:space="preserve" y="117">581.106</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="369" xml:space="preserve" y="122"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="117"> 6</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="369" y1="120" y2="120"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="120" y2="120"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="329" x2="369" y1="120" y2="120"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="369" xml:space="preserve" y="101">(keV)</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="242.5" xml:space="preserve" y="296"><tspan dx="-1" dy="-10">140</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="18" text-anchor="left" x="242.5" xml:space="preserve" y="296">La</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="242.5" xml:space="preserve" y="296"><tspan dx="-1" dy="3">57</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="middle" x="244.5" xml:space="preserve" y="314">Q<tspan dy="2" font-size="8">β</tspan><tspan dy="-4" font-size="8">-</tspan><tspan dy="2" font-size="9"> = 1048 keV</tspan></text>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,148,120)" x="151" xml:space="preserve" y="120">0.0049</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,148,120)" x="151" xml:space="preserve" y="120">0.0049</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="148" x2="148" y1="121" y2="237"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="148" x2="148" y1="120" y2="245"></line>
<path d="m148,245 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,161,120)" x="164" xml:space="preserve" y="120">24.6</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" font-weight="bold" stroke-width="0.0" text-anchor="left" transform="rotate(-60,161,120)" x="164" xml:space="preserve" y="120">24.6</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="161" x2="161" y1="121" y2="212"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="161" x2="161" y1="120" y2="220"></line>
<path d="m161,220 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="1.0"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,174,120)" x="177" xml:space="preserve" y="120">0.0172</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,174,120)" x="177" xml:space="preserve" y="120">0.0172</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="174" x2="174" y1="121" y2="137"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="174" x2="174" y1="120" y2="145"></line>
<path d="m174,145 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,187,145)" x="190" xml:space="preserve" y="145">1.94</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,187,145)" x="190" xml:space="preserve" y="145">1.94</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="187" x2="187" y1="146" y2="237"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="187" x2="187" y1="145" y2="245"></line>
<path d="m187,245 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="1.0"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,200,145)" x="203" xml:space="preserve" y="145">3.13</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,200,145)" x="203" xml:space="preserve" y="145">3.13</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="200" x2="200" y1="146" y2="212"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="200" x2="200" y1="145" y2="220"></line>
<path d="m200,220 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="1.0"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,213,145)" x="216" xml:space="preserve" y="145">4.33</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,213,145)" x="216" xml:space="preserve" y="145">4.33</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="213" x2="213" y1="146" y2="162"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="213" x2="213" y1="145" y2="170"></line>
<path d="m213,170 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="1.0"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,226,170)" x="229" xml:space="preserve" y="170">6.49</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,226,170)" x="229" xml:space="preserve" y="170">6.49</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="226" x2="226" y1="171" y2="262"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="226" x2="226" y1="170" y2="270"></line>
<path d="m226,270 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="1.0"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,239,170)" x="242" xml:space="preserve" y="170">0.202</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,239,170)" x="242" xml:space="preserve" y="170">0.202</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="239" x2="239" y1="171" y2="237"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="239" x2="239" y1="170" y2="245"></line>
<path d="m239,245 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,252,170)" x="255" xml:space="preserve" y="170">0.061</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,252,170)" x="255" xml:space="preserve" y="170">0.061</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="252" x2="252" y1="171" y2="212"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="252" x2="252" y1="170" y2="220"></line>
<path d="m252,220 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,265,170)" x="268" xml:space="preserve" y="170">2e-05</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,265,170)" x="268" xml:space="preserve" y="170">2e-05</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="265" x2="265" y1="171" y2="187"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="265" x2="265" y1="170" y2="195"></line>
<path d="m265,195 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,278,195)" x="281" xml:space="preserve" y="195">3e-05</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,278,195)" x="281" xml:space="preserve" y="195">3e-05</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="278" x2="278" y1="196" y2="262"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="278" x2="278" y1="195" y2="270"></line>
<path d="m278,270 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,291,220)" x="294" xml:space="preserve" y="220">1.16</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,291,220)" x="294" xml:space="preserve" y="220">1.16</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="291" x2="291" y1="221" y2="237"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="291" x2="291" y1="220" y2="245"></line>
<path d="m291,245 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="1.0"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,304,245)" x="307" xml:space="preserve" y="245">14.4</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" font-weight="bold" stroke-width="0.0" text-anchor="left" transform="rotate(-60,304,245)" x="307" xml:space="preserve" y="245">14.4</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="304" x2="304" y1="246" y2="262"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="304" x2="304" y1="245" y2="270"></line>
<path d="m304,270 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="1.0"></path>
<text fill="rgb(85,204,85)" font-family="Helvetica, Arial, sans-serif" font-size="10" font-weight="bold" stroke-width="0.0" text-anchor="end" x="100" xml:space="preserve" y="228">25.6 </text>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="100" x2="120" y1="225" y2="245"></line>
<path d="m120,245 l-2,-8 l2,2 l2,-2 z" fill="rgb(85,204,85)" stroke="rgb(85,204,85)" stroke-width="1.0" transform="rotate(-45,120,245)"></path>
<text fill="rgb(85,204,85)" font-family="Helvetica, Arial, sans-serif" font-size="10" font-weight="bold" stroke-width="0.0" text-anchor="end" x="100" xml:space="preserve" y="203">35.6 </text>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="100" x2="120" y1="200" y2="220"></line>
<path d="m120,220 l-2,-8 l2,2 l2,-2 z" fill="rgb(85,204,85)" stroke="rgb(85,204,85)" stroke-width="1.0" transform="rotate(-45,120,220)"></path>
<text fill="rgb(85,204,85)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="end" x="100" xml:space="preserve" y="153">4.14 </text>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="100" x2="120" y1="150" y2="170"></line>
<path d="m120,170 l-2,-8 l2,2 l2,-2 z" fill="rgb(85,204,85)" stroke="rgb(85,204,85)" stroke-width="1.0" transform="rotate(-45,120,170)"></path>
<text fill="rgb(85,204,85)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="end" x="100" xml:space="preserve" y="128">9.71 </text>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="100" x2="120" y1="125" y2="145"></line>
<path d="m120,145 l-2,-8 l2,2 l2,-2 z" fill="rgb(85,204,85)" stroke="rgb(85,204,85)" stroke-width="1.0" transform="rotate(-45,120,145)"></path>
<text fill="rgb(85,204,85)" font-family="Helvetica, Arial, sans-serif" font-size="10" font-weight="bold" stroke-width="0.0" text-anchor="end" x="100" xml:space="preserve" y="103">24.94 </text>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="100" x2="120" y1="100" y2="120"></line>
<path d="m120,120 l-2,-8 l2,2 l2,-2 z" fill="rgb(85,204,85)" stroke="rgb(85,204,85)" stroke-width="1.0" transform="rotate(-45,120,120)"></path>
</g>
</svg>