<svg height="555" width="621" xmlns="http://www.w3.org/2000/svg">
<g transform="scale(1)">
<title>Cm-242 decay scheme - Alpha branching</title>
<rect fill="rgb(255,255,255)" height="547" stroke="rgb(0,128,255)" stroke-width="1.0" width="617" x="2" y="2"></rect>
<rect fill="rgb(255,255,255)" height="30" stroke="rgb(0,128,255)" stroke-width="1.0" width="45" x="2" y="2"></rect>
<text font-family="Helvetica, Arial, sans-serif" font-size="12" font-weight="bold" text-anchor="middle" x="24.5" xml:space="preserve" y="16.8">α</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="middle" x="24.5" xml:space="preserve" y="27.8">100%</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="552" xml:space="preserve" y="32"><tspan dx="-1" dy="-10">242</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="18" text-anchor="left" x="552" xml:space="preserve" y="32">Cm</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="552" xml:space="preserve" y="32"><tspan dx="-1" dy="3">96</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="511" xml:space="preserve" y="43">162.86 (8) d</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.0" x1="521" x2="591" y1="40" y2="40"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="591" xml:space="preserve" y="37">0</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="521" xml:space="preserve" y="60"> α (%)</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="519.5" x2="505.5" y1="40" y2="54"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="521" x2="507" y1="41.5" y2="55.5"></line>
<path d="m501,60 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="1.0" transform="rotate(45,501,60)"></path>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="492">0</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="497">87.74 a  </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="501" xml:space="preserve" y="492">0 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="501" y1="495" y2="495"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="495" y2="495"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="486" x2="501" y1="495" y2="495"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="467">44.08</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="472"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="501" xml:space="preserve" y="467">1 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="501" y1="470" y2="470"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="470" y2="470"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="486" x2="501" y1="470" y2="470"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="442">146</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="447"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="501" xml:space="preserve" y="442">2 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="501" y1="445" y2="445"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="445" y2="445"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="486" x2="501" y1="445" y2="445"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="417">303.42</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="422"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="501" xml:space="preserve" y="417">3 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="501" y1="420" y2="420"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="420" y2="420"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="486" x2="501" y1="420" y2="420"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="392">513.62</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="397"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="501" xml:space="preserve" y="392">4 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="501" y1="395" y2="395"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="395" y2="395"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="486" x2="501" y1="395" y2="395"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="367">605.08</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="372"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="501" xml:space="preserve" y="367">5 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="501" y1="370" y2="370"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="370" y2="370"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="486" x2="501" y1="370" y2="370"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="342">661.28</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="347"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="501" xml:space="preserve" y="342">6 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="501" y1="345" y2="345"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="345" y2="345"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="486" x2="501" y1="345" y2="345"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="317">763.22</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="322"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="501" xml:space="preserve" y="317">7 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="501" y1="320" y2="320"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="320" y2="320"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="486" x2="501" y1="320" y2="320"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="292">941.44</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="297"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="501" xml:space="preserve" y="292">8 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="501" y1="295" y2="295"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="295" y2="295"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="486" x2="501" y1="295" y2="295"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="267">962.72</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="272"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="501" xml:space="preserve" y="267">9 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="501" y1="270" y2="270"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="270" y2="270"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="486" x2="501" y1="270" y2="270"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="242">983</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="247"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="501" xml:space="preserve" y="242">10 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="501" y1="245" y2="245"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="245" y2="245"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="486" x2="501" y1="245" y2="245"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="217">1018.6</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="222"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="501" xml:space="preserve" y="217">11 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="501" y1="220" y2="220"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="220" y2="220"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="486" x2="501" y1="220" y2="220"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="192">1028.62</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="197"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="501" xml:space="preserve" y="192">12 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="501" y1="195" y2="195"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="195" y2="195"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="486" x2="501" y1="195" y2="195"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="167">1125.79</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="172"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="501" xml:space="preserve" y="167">13 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="501" y1="170" y2="170"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="170" y2="170"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="486" x2="501" y1="170" y2="170"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="142">1228.69</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="147"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="501" xml:space="preserve" y="142">14 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="501" y1="145" y2="145"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="145" y2="145"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="486" x2="501" y1="145" y2="145"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="117">1264.29</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="122"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="501" xml:space="preserve" y="117">15 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="501" y1="120" y2="120"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="120" y2="120"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="486" x2="501" y1="120" y2="120"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="101">(keV)</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="283.5" xml:space="preserve" y="521"><tspan dx="-1" dy="-10">238</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="18" text-anchor="left" x="283.5" xml:space="preserve" y="521">Pu</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="283.5" xml:space="preserve" y="521"><tspan dx="-1" dy="3">94</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="middle" x="285.5" xml:space="preserve" y="539">Q<tspan dy="2" font-size="8">α</tspan><tspan dy="-2" font-size="9"> = 6215.56 keV</tspan></text>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,123,120)" x="126" xml:space="preserve" y="120">2.8e-07</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,123,120)" x="126" xml:space="preserve" y="120">2.8e-07</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="123" x2="123" y1="121" y2="462"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="123" x2="123" y1="120" y2="470"></line>
<path d="m123,470 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,136,120)" x="139" xml:space="preserve" y="120">1.7e-07</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,136,120)" x="139" xml:space="preserve" y="120">1.7e-07</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="136" x2="136" y1="121" y2="437"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="136" x2="136" y1="120" y2="445"></line>
<path d="m136,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,149,145)" x="152" xml:space="preserve" y="145">5e-07</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,149,145)" x="152" xml:space="preserve" y="145">5e-07</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="149" x2="149" y1="146" y2="462"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="149" x2="149" y1="145" y2="470"></line>
<path d="m149,470 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,162,170)" x="165" xml:space="preserve" y="170">5e-08</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,162,170)" x="165" xml:space="preserve" y="170">5e-08</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="162" x2="162" y1="171" y2="462"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="162" x2="162" y1="170" y2="470"></line>
<path d="m162,470 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,175,170)" x="178" xml:space="preserve" y="170">2.6e-07</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,175,170)" x="178" xml:space="preserve" y="170">2.6e-07</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="175" x2="175" y1="171" y2="437"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="175" x2="175" y1="170" y2="445"></line>
<path d="m175,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,188,195)" x="191" xml:space="preserve" y="195">1.6e-06</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,188,195)" x="191" xml:space="preserve" y="195">1.6e-06</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="188" x2="188" y1="196" y2="487"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="188" x2="188" y1="195" y2="495"></line>
<path d="m188,495 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,201,195)" x="204" xml:space="preserve" y="195">2e-06</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,201,195)" x="204" xml:space="preserve" y="195">2e-06</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="201" x2="201" y1="196" y2="462"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="201" x2="201" y1="195" y2="470"></line>
<path d="m201,470 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,214,195)" x="217" xml:space="preserve" y="195">6.7e-08</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,214,195)" x="217" xml:space="preserve" y="195">6.7e-08</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="214" x2="214" y1="196" y2="437"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="214" x2="214" y1="195" y2="445"></line>
<path d="m214,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,227,220)" x="230" xml:space="preserve" y="220">2e-07</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,227,220)" x="230" xml:space="preserve" y="220">2e-07</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="227" x2="227" y1="221" y2="462"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="227" x2="227" y1="220" y2="470"></line>
<path d="m227,470 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,240,245)" x="243" xml:space="preserve" y="245">5e-07</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,240,245)" x="243" xml:space="preserve" y="245">5e-07</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="240" x2="240" y1="246" y2="487"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="240" x2="240" y1="245" y2="495"></line>
<path d="m240,495 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,253,245)" x="256" xml:space="preserve" y="245">1.8e-07</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,253,245)" x="256" xml:space="preserve" y="245">1.8e-07</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="253" x2="253" y1="246" y2="462"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="253" x2="253" y1="245" y2="470"></line>
<path d="m253,470 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,266,245)" x="269" xml:space="preserve" y="245">1.9e-07</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,266,245)" x="269" xml:space="preserve" y="245">1.9e-07</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="266" x2="266" y1="246" y2="437"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="266" x2="266" y1="245" y2="445"></line>
<path d="m266,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,279,270)" x="282" xml:space="preserve" y="270">5.3e-07</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,279,270)" x="282" xml:space="preserve" y="270">5.3e-07</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="279" x2="279" y1="271" y2="487"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="279" x2="279" y1="270" y2="495"></line>
<path d="m279,495 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,292,270)" x="295" xml:space="preserve" y="270">5.4e-07</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,292,270)" x="295" xml:space="preserve" y="270">5.4e-07</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="292" x2="292" y1="271" y2="462"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="292" x2="292" y1="270" y2="470"></line>
<path d="m292,470 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,305,270)" x="308" xml:space="preserve" y="270">4.5e-08</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,305,270)" x="308" xml:space="preserve" y="270">4.5e-08</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="305" x2="305" y1="271" y2="362"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="305" x2="305" y1="270" y2="370"></line>
<path d="m305,370 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,318,295)" x="321" xml:space="preserve" y="295">2.2e-05</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,318,295)" x="321" xml:space="preserve" y="295">2.2e-05</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="318" x2="318" y1="296" y2="462"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="318" x2="318" y1="295" y2="470"></line>
<path d="m318,470 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,331,295)" x="334" xml:space="preserve" y="295">7e-07</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,331,295)" x="334" xml:space="preserve" y="295">7e-07</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="331" x2="331" y1="296" y2="362"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="331" x2="331" y1="295" y2="370"></line>
<path d="m331,370 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,344,320)" x="347" xml:space="preserve" y="320">1.6e-07</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,344,320)" x="347" xml:space="preserve" y="320">1.6e-07</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="344" x2="344" y1="321" y2="437"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="344" x2="344" y1="320" y2="445"></line>
<path d="m344,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,357,320)" x="360" xml:space="preserve" y="320">6e-08</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,357,320)" x="360" xml:space="preserve" y="320">6e-08</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="357" x2="357" y1="321" y2="412"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="357" x2="357" y1="320" y2="420"></line>
<path d="m357,420 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,370,345)" x="373" xml:space="preserve" y="345">7.9e-06</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,370,345)" x="373" xml:space="preserve" y="345">7.9e-06</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="370" x2="370" y1="346" y2="462"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="370" x2="370" y1="345" y2="470"></line>
<path d="m370,470 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,383,345)" x="386" xml:space="preserve" y="345">4.5e-06</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,383,345)" x="386" xml:space="preserve" y="345">4.5e-06</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="383" x2="383" y1="346" y2="437"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="383" x2="383" y1="345" y2="445"></line>
<path d="m383,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,396,370)" x="399" xml:space="preserve" y="370">0.000105</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,396,370)" x="399" xml:space="preserve" y="370">0.000105</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="396" x2="396" y1="371" y2="487"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="396" x2="396" y1="370" y2="495"></line>
<path d="m396,495 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,409,370)" x="412" xml:space="preserve" y="370">0.00015</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,409,370)" x="412" xml:space="preserve" y="370">0.00015</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="409" x2="409" y1="371" y2="462"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="409" x2="409" y1="370" y2="470"></line>
<path d="m409,470 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,422,395)" x="425" xml:space="preserve" y="395">1.2e-05</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,422,395)" x="425" xml:space="preserve" y="395">1.2e-05</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="422" x2="422" y1="396" y2="412"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="422" x2="422" y1="395" y2="420"></line>
<path d="m422,420 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,435,420)" x="438" xml:space="preserve" y="420">0.00145</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,435,420)" x="438" xml:space="preserve" y="420">0.00145</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="435" x2="435" y1="421" y2="437"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="435" x2="435" y1="420" y2="445"></line>
<path d="m435,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,448,445)" x="451" xml:space="preserve" y="445">0.00251</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,448,445)" x="451" xml:space="preserve" y="445">0.00251</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="448" x2="448" y1="446" y2="462"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="448" x2="448" y1="445" y2="470"></line>
<path d="m448,470 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,461,470)" x="464" xml:space="preserve" y="470">0.033</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,461,470)" x="464" xml:space="preserve" y="470">0.033</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="461" x2="461" y1="471" y2="487"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="461" x2="461" y1="470" y2="495"></line>
<path d="m461,495 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="521" xml:space="preserve" y="476.5"> 74.06</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" font-weight="bold" stroke-width="0.0" text-anchor="left" x="521" xml:space="preserve" y="476.5"> 74.06</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="519.5" x2="505.5" y1="475" y2="489"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="521" x2="507" y1="476.5" y2="490.5"></line>
<path d="m501,495 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="1.0" transform="rotate(45,501,495)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="521" xml:space="preserve" y="451.5"> 25.94</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" font-weight="bold" stroke-width="0.0" text-anchor="left" x="521" xml:space="preserve" y="451.5"> 25.94</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="519.5" x2="505.5" y1="450" y2="464"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="521" x2="507" y1="451.5" y2="465.5"></line>
<path d="m501,470 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="1.0" transform="rotate(45,501,470)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="521" xml:space="preserve" y="426.5"> 0.034</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="521" xml:space="preserve" y="426.5"> 0.034</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="519.5" x2="505.5" y1="425" y2="439"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="521" x2="507" y1="426.5" y2="440.5"></line>
<path d="m501,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,501,445)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="521" xml:space="preserve" y="401.5"> 0.0046</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="521" xml:space="preserve" y="401.5"> 0.0046</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="519.5" x2="505.5" y1="400" y2="414"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="521" x2="507" y1="401.5" y2="415.5"></line>
<path d="m501,420 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,501,420)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="521" xml:space="preserve" y="376.5"> 2e-05</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="521" xml:space="preserve" y="376.5"> 2e-05</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="519.5" x2="505.5" y1="375" y2="389"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="521" x2="507" y1="376.5" y2="390.5"></line>
<path d="m501,395 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,501,395)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="521" xml:space="preserve" y="351.5"> 0.00025</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="521" xml:space="preserve" y="351.5"> 0.00025</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="519.5" x2="505.5" y1="350" y2="364"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="521" x2="507" y1="351.5" y2="365.5"></line>
<path d="m501,370 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,501,370)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="521" xml:space="preserve" y="326.5"> 1.3e-05</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="521" xml:space="preserve" y="326.5"> 1.3e-05</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="519.5" x2="505.5" y1="325" y2="339"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="521" x2="507" y1="326.5" y2="340.5"></line>
<path d="m501,345 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,501,345)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="521" xml:space="preserve" y="301.5"> 2.2e-07</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="521" xml:space="preserve" y="301.5"> 2.2e-07</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="519.5" x2="505.5" y1="300" y2="314"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="521" x2="507" y1="301.5" y2="315.5"></line>
<path d="m501,320 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,501,320)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="521" xml:space="preserve" y="276.5"> 3.5e-05</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="521" xml:space="preserve" y="276.5"> 3.5e-05</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="519.5" x2="505.5" y1="275" y2="289"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="521" x2="507" y1="276.5" y2="290.5"></line>
<path d="m501,295 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,501,295)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="521" xml:space="preserve" y="251.5"> 1.13e-06</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="521" xml:space="preserve" y="251.5"> 1.13e-06</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="519.5" x2="505.5" y1="250" y2="264"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="521" x2="507" y1="251.5" y2="265.5"></line>
<path d="m501,270 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,501,270)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="521" xml:space="preserve" y="226.5"> 1.7e-06</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="521" xml:space="preserve" y="226.5"> 1.7e-06</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="519.5" x2="505.5" y1="225" y2="239"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="521" x2="507" y1="226.5" y2="240.5"></line>
<path d="m501,245 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,501,245)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="521" xml:space="preserve" y="201.5"> 2e-07</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="521" xml:space="preserve" y="201.5"> 2e-07</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="519.5" x2="505.5" y1="200" y2="214"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="521" x2="507" y1="201.5" y2="215.5"></line>
<path d="m501,220 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,501,220)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="521" xml:space="preserve" y="176.5"> 3.7e-06</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="521" xml:space="preserve" y="176.5"> 3.7e-06</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="519.5" x2="505.5" y1="175" y2="189"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="521" x2="507" y1="176.5" y2="190.5"></line>
<path d="m501,195 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,501,195)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="521" xml:space="preserve" y="151.5"> 3.1e-07</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="521" xml:space="preserve" y="151.5"> 3.1e-07</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="519.5" x2="505.5" y1="150" y2="164"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="521" x2="507" y1="151.5" y2="165.5"></line>
<path d="m501,170 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,501,170)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="521" xml:space="preserve" y="126.5"> 5.5e-07</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="521" xml:space="preserve" y="126.5"> 5.5e-07</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="519.5" x2="505.5" y1="125" y2="139"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="521" x2="507" y1="126.5" y2="140.5"></line>
<path d="m501,145 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,501,145)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="521" xml:space="preserve" y="101.5"> 5.2e-07</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="521" xml:space="preserve" y="101.5"> 5.2e-07</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="519.5" x2="505.5" y1="100" y2="114"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="521" x2="507" y1="101.5" y2="115.5"></line>
<path d="m501,120 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,501,120)"></path>
</g>
</svg>