<svg height="505" width="842" xmlns="http://www.w3.org/2000/svg">
<g transform="scale(1)">
<title>I-133 decay scheme - Beta- branching</title>
<rect fill="rgb(255,255,255)" height="497" stroke="rgb(0,128,255)" stroke-width="1.0" width="838" x="2" y="2"></rect>
<rect fill="rgb(255,255,255)" height="30" stroke="rgb(0,128,255)" stroke-width="1.0" width="45" x="795" y="2"></rect>
<text font-family="Helvetica, Arial, sans-serif" font-size="12" font-weight="bold" text-anchor="middle" x="817.5" xml:space="preserve" y="16.8">β<tspan dy="-4">-</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="middle" x="817.5" xml:space="preserve" y="27.8">100%</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="63" xml:space="preserve" y="32"><tspan dx="-1" dy="-10">133</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="18" text-anchor="left" x="63" xml:space="preserve" y="32">I</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="63" xml:space="preserve" y="32"><tspan dx="-1" dy="3">53</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="left" x="110" xml:space="preserve" y="43">20.87 (8) h</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.0" x1="30" x2="100" y1="40" y2="40"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="30" xml:space="preserve" y="37">0</text>
<text fill="rgb(85,204,85)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="end" x="100" xml:space="preserve" y="60">β<tspan dy="-4">-</tspan><tspan dy="4"> (%) </tspan></text>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="100" x2="120" y1="40" y2="60"></line>
<path d="m120,60 l-2,-8 l2,2 l2,-2 z" fill="rgb(85,204,85)" stroke="rgb(85,204,85)" stroke-width="1.0" transform="rotate(-45,120,60)"></path>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="772" xml:space="preserve" y="442">0</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="772" xml:space="preserve" y="447">  5.2474 d</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="442"> 0</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="772" y1="445" y2="445"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="445" y2="445"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="732" x2="772" y1="445" y2="445"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="772" xml:space="preserve" y="417">233.219</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="772" xml:space="preserve" y="422">  2.198 d</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="417"> 1</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="772" y1="420" y2="420"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="420" y2="420"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="732" x2="772" y1="420" y2="420"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="772" xml:space="preserve" y="392">262.702</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="772" xml:space="preserve" y="397"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="392"> 2</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="772" y1="395" y2="395"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="395" y2="395"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="732" x2="772" y1="395" y2="395"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="772" xml:space="preserve" y="367">529.872</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="772" xml:space="preserve" y="372"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="367"> 3</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="772" y1="370" y2="370"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="370" y2="370"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="732" x2="772" y1="370" y2="370"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="772" xml:space="preserve" y="342">680.254</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="772" xml:space="preserve" y="347"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="342"> 4</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="772" y1="345" y2="345"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="345" y2="345"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="732" x2="772" y1="345" y2="345"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="772" xml:space="preserve" y="317">743.75</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="772" xml:space="preserve" y="322"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="317"> 5</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="772" y1="320" y2="320"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="320" y2="320"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="732" x2="772" y1="320" y2="320"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="772" xml:space="preserve" y="292">875.331</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="772" xml:space="preserve" y="297"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="292"> 6</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="772" y1="295" y2="295"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="295" y2="295"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="732" x2="772" y1="295" y2="295"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="772" xml:space="preserve" y="267">911.45</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="772" xml:space="preserve" y="272"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="267"> 7</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="772" y1="270" y2="270"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="270" y2="270"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="732" x2="772" y1="270" y2="270"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="772" xml:space="preserve" y="242">1052.397</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="772" xml:space="preserve" y="247"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="242"> 8</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="772" y1="245" y2="245"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="245" y2="245"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="732" x2="772" y1="245" y2="245"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="772" xml:space="preserve" y="217">1236.449</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="772" xml:space="preserve" y="222"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="217"> 9</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="772" y1="220" y2="220"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="220" y2="220"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="732" x2="772" y1="220" y2="220"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="772" xml:space="preserve" y="192">1298.234</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="772" xml:space="preserve" y="197"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="192"> 10</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="772" y1="195" y2="195"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="195" y2="195"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="732" x2="772" y1="195" y2="195"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="772" xml:space="preserve" y="167">1350.38</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="772" xml:space="preserve" y="172"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="167"> 11</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="772" y1="170" y2="170"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="170" y2="170"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="732" x2="772" y1="170" y2="170"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="772" xml:space="preserve" y="142">1386.153</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="772" xml:space="preserve" y="147"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="142"> 12</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="772" y1="145" y2="145"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="145" y2="145"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="732" x2="772" y1="145" y2="145"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="772" xml:space="preserve" y="117">1589.94</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="772" xml:space="preserve" y="122"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="117"> 13</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="772" y1="120" y2="120"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="120" y2="120"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="732" x2="772" y1="120" y2="120"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="772" xml:space="preserve" y="101">(keV)</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="444" xml:space="preserve" y="471"><tspan dx="-1" dy="-10">133</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="18" text-anchor="left" x="444" xml:space="preserve" y="471">Xe</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="444" xml:space="preserve" y="471"><tspan dx="-1" dy="3">54</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="middle" x="446" xml:space="preserve" y="489">Q<tspan dy="2" font-size="8">β</tspan><tspan dy="-4" font-size="8">-</tspan><tspan dy="2" font-size="9"> = 1757 keV</tspan></text>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,148,120)" x="151" xml:space="preserve" y="120">0.0029</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,148,120)" x="151" xml:space="preserve" y="120">0.0029</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="148" x2="148" y1="121" y2="437"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="148" x2="148" y1="120" y2="445"></line>
<path d="m148,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,161,120)" x="164" xml:space="preserve" y="120">0.00022</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,161,120)" x="164" xml:space="preserve" y="120">0.00022</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="161" x2="161" y1="121" y2="387"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="161" x2="161" y1="120" y2="395"></line>
<path d="m161,395 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,174,120)" x="177" xml:space="preserve" y="120">0.137</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,174,120)" x="177" xml:space="preserve" y="120">0.137</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="174" x2="174" y1="121" y2="362"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="174" x2="174" y1="120" y2="370"></line>
<path d="m174,370 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,187,120)" x="190" xml:space="preserve" y="120">0.212</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,187,120)" x="190" xml:space="preserve" y="120">0.212</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="187" x2="187" y1="121" y2="337"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="187" x2="187" y1="120" y2="345"></line>
<path d="m187,345 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,200,120)" x="203" xml:space="preserve" y="120">0.022</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,200,120)" x="203" xml:space="preserve" y="120">0.022</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="200" x2="200" y1="121" y2="262"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="200" x2="200" y1="120" y2="270"></line>
<path d="m200,270 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,213,120)" x="216" xml:space="preserve" y="120">0.035</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,213,120)" x="216" xml:space="preserve" y="120">0.035</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="213" x2="213" y1="121" y2="237"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="213" x2="213" y1="120" y2="245"></line>
<path d="m213,245 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,226,120)" x="229" xml:space="preserve" y="120">0.00432</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,226,120)" x="229" xml:space="preserve" y="120">0.00432</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="226" x2="226" y1="121" y2="137"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="226" x2="226" y1="120" y2="145"></line>
<path d="m226,145 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,239,145)" x="242" xml:space="preserve" y="145">0.0086</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,239,145)" x="242" xml:space="preserve" y="145">0.0086</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="239" x2="239" y1="146" y2="437"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="239" x2="239" y1="145" y2="445"></line>
<path d="m239,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,252,145)" x="255" xml:space="preserve" y="145">1.23</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,252,145)" x="255" xml:space="preserve" y="145">1.23</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="252" x2="252" y1="146" y2="362"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="252" x2="252" y1="145" y2="370"></line>
<path d="m252,370 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="1.0"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,265,145)" x="268" xml:space="preserve" y="145">0.004</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,265,145)" x="268" xml:space="preserve" y="145">0.004</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="265" x2="265" y1="146" y2="287"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="265" x2="265" y1="145" y2="295"></line>
<path d="m265,295 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,278,170)" x="281" xml:space="preserve" y="170">0.148</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,278,170)" x="281" xml:space="preserve" y="170">0.148</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="278" x2="278" y1="171" y2="437"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="278" x2="278" y1="170" y2="445"></line>
<path d="m278,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,291,170)" x="294" xml:space="preserve" y="170">0.0121</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,291,170)" x="294" xml:space="preserve" y="170">0.0121</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="291" x2="291" y1="171" y2="387"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="291" x2="291" y1="170" y2="395"></line>
<path d="m291,395 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,304,170)" x="307" xml:space="preserve" y="170">0.154</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,304,170)" x="307" xml:space="preserve" y="170">0.154</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="304" x2="304" y1="171" y2="362"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="304" x2="304" y1="170" y2="370"></line>
<path d="m304,370 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,317,170)" x="320" xml:space="preserve" y="170">0.042</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,317,170)" x="320" xml:space="preserve" y="170">0.042</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="317" x2="317" y1="171" y2="337"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="317" x2="317" y1="170" y2="345"></line>
<path d="m317,345 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,330,170)" x="333" xml:space="preserve" y="170">0.04</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,330,170)" x="333" xml:space="preserve" y="170">0.04</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="330" x2="330" y1="171" y2="262"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="330" x2="330" y1="170" y2="270"></line>
<path d="m330,270 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,343,195)" x="346" xml:space="preserve" y="195">2.33</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,343,195)" x="346" xml:space="preserve" y="195">2.33</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="343" x2="343" y1="196" y2="437"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="343" x2="343" y1="195" y2="445"></line>
<path d="m343,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="1.0"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,356,195)" x="359" xml:space="preserve" y="195">0.0086</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,356,195)" x="359" xml:space="preserve" y="195">0.0086</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="356" x2="356" y1="196" y2="387"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="356" x2="356" y1="195" y2="395"></line>
<path d="m356,395 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,369,195)" x="372" xml:space="preserve" y="195">0.457</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,369,195)" x="372" xml:space="preserve" y="195">0.457</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="369" x2="369" y1="196" y2="362"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="369" x2="369" y1="195" y2="370"></line>
<path d="m369,370 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,382,195)" x="385" xml:space="preserve" y="195">0.539</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,382,195)" x="385" xml:space="preserve" y="195">0.539</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="382" x2="382" y1="196" y2="337"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="382" x2="382" y1="195" y2="345"></line>
<path d="m382,345 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,395,195)" x="398" xml:space="preserve" y="195">0.0004</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,395,195)" x="398" xml:space="preserve" y="195">0.0004</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="395" x2="395" y1="196" y2="312"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="395" x2="395" y1="195" y2="320"></line>
<path d="m395,320 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,408,195)" x="411" xml:space="preserve" y="195">0.309</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,408,195)" x="411" xml:space="preserve" y="195">0.309</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="408" x2="408" y1="196" y2="287"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="408" x2="408" y1="195" y2="295"></line>
<path d="m408,295 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,421,195)" x="424" xml:space="preserve" y="195">0.059</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,421,195)" x="424" xml:space="preserve" y="195">0.059</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="421" x2="421" y1="196" y2="262"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="421" x2="421" y1="195" y2="270"></line>
<path d="m421,270 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,434,195)" x="437" xml:space="preserve" y="195">0.035</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,434,195)" x="437" xml:space="preserve" y="195">0.035</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="434" x2="434" y1="196" y2="237"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="434" x2="434" y1="195" y2="245"></line>
<path d="m434,245 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,447,220)" x="450" xml:space="preserve" y="220">1.49</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,447,220)" x="450" xml:space="preserve" y="220">1.49</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="447" x2="447" y1="221" y2="437"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="447" x2="447" y1="220" y2="445"></line>
<path d="m447,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="1.0"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,460,220)" x="463" xml:space="preserve" y="220">1.49</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,460,220)" x="463" xml:space="preserve" y="220">1.49</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="460" x2="460" y1="221" y2="362"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="460" x2="460" y1="220" y2="370"></line>
<path d="m460,370 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="1.0"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,473,220)" x="476" xml:space="preserve" y="220">0.02</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,473,220)" x="476" xml:space="preserve" y="220">0.02</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="473" x2="473" y1="221" y2="337"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="473" x2="473" y1="220" y2="345"></line>
<path d="m473,345 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,486,220)" x="489" xml:space="preserve" y="220">0.11</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,486,220)" x="489" xml:space="preserve" y="220">0.11</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="486" x2="486" y1="221" y2="287"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="486" x2="486" y1="220" y2="295"></line>
<path d="m486,295 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,499,245)" x="502" xml:space="preserve" y="245">0.551</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,499,245)" x="502" xml:space="preserve" y="245">0.551</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="499" x2="499" y1="246" y2="437"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="499" x2="499" y1="245" y2="445"></line>
<path d="m499,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,512,245)" x="515" xml:space="preserve" y="245">0.05</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,512,245)" x="515" xml:space="preserve" y="245">0.05</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="512" x2="512" y1="246" y2="387"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="512" x2="512" y1="245" y2="395"></line>
<path d="m512,395 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,525,245)" x="528" xml:space="preserve" y="245">0.04</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,525,245)" x="528" xml:space="preserve" y="245">0.04</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="525" x2="525" y1="246" y2="362"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="525" x2="525" y1="245" y2="370"></line>
<path d="m525,370 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,538,245)" x="541" xml:space="preserve" y="245">0.009</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,538,245)" x="541" xml:space="preserve" y="245">0.009</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="538" x2="538" y1="246" y2="337"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="538" x2="538" y1="245" y2="345"></line>
<path d="m538,345 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,551,270)" x="554" xml:space="preserve" y="270">0.046</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,551,270)" x="554" xml:space="preserve" y="270">0.046</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="551" x2="551" y1="271" y2="437"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="551" x2="551" y1="270" y2="445"></line>
<path d="m551,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,564,270)" x="567" xml:space="preserve" y="270">0.056</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,564,270)" x="567" xml:space="preserve" y="270">0.056</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="564" x2="564" y1="271" y2="387"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="564" x2="564" y1="270" y2="395"></line>
<path d="m564,395 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,577,270)" x="580" xml:space="preserve" y="270">0.045</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,577,270)" x="580" xml:space="preserve" y="270">0.045</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="577" x2="577" y1="271" y2="362"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="577" x2="577" y1="270" y2="370"></line>
<path d="m577,370 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,590,295)" x="593" xml:space="preserve" y="295">4.47</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,590,295)" x="593" xml:space="preserve" y="295">4.47</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="590" x2="590" y1="296" y2="437"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="590" x2="590" y1="295" y2="445"></line>
<path d="m590,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="1.0"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,603,295)" x="606" xml:space="preserve" y="295">0.104</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,603,295)" x="606" xml:space="preserve" y="295">0.104</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="603" x2="603" y1="296" y2="362"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="603" x2="603" y1="295" y2="370"></line>
<path d="m603,370 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,616,320)" x="619" xml:space="preserve" y="320">1.81</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,616,320)" x="619" xml:space="preserve" y="320">1.81</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="616" x2="616" y1="321" y2="412"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="616" x2="616" y1="320" y2="420"></line>
<path d="m616,420 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="1.0"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,629,345)" x="632" xml:space="preserve" y="345">0.645</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,629,345)" x="632" xml:space="preserve" y="345">0.645</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="629" x2="629" y1="346" y2="437"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="629" x2="629" y1="345" y2="445"></line>
<path d="m629,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,642,345)" x="645" xml:space="preserve" y="345">0.153</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,642,345)" x="645" xml:space="preserve" y="345">0.153</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="642" x2="642" y1="346" y2="387"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="642" x2="642" y1="345" y2="395"></line>
<path d="m642,395 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,655,345)" x="658" xml:space="preserve" y="345">0.029</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,655,345)" x="658" xml:space="preserve" y="345">0.029</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="655" x2="655" y1="346" y2="362"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="655" x2="655" y1="345" y2="370"></line>
<path d="m655,370 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,668,370)" x="671" xml:space="preserve" y="370">86.3</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" font-weight="bold" stroke-width="0.0" text-anchor="left" transform="rotate(-60,668,370)" x="671" xml:space="preserve" y="370">86.3</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="668" x2="668" y1="371" y2="437"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="668" x2="668" y1="370" y2="445"></line>
<path d="m668,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="1.0"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,681,370)" x="684" xml:space="preserve" y="370">0.117</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,681,370)" x="684" xml:space="preserve" y="370">0.117</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="681" x2="681" y1="371" y2="387"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="681" x2="681" y1="370" y2="395"></line>
<path d="m681,395 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,694,395)" x="697" xml:space="preserve" y="395">0.356</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,694,395)" x="697" xml:space="preserve" y="395">0.356</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="694" x2="694" y1="396" y2="437"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="694" x2="694" y1="395" y2="445"></line>
<path d="m694,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,707,420)" x="710" xml:space="preserve" y="420">0.293</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,707,420)" x="710" xml:space="preserve" y="420">0.293</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="707" x2="707" y1="421" y2="437"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="707" x2="707" y1="420" y2="445"></line>
<path d="m707,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(85,204,85)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="end" x="100" xml:space="preserve" y="403">1.07 </text>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="100" x2="120" y1="400" y2="420"></line>
<path d="m120,420 l-2,-8 l2,2 l2,-2 z" fill="rgb(85,204,85)" stroke="rgb(85,204,85)" stroke-width="1.0" transform="rotate(-45,120,420)"></path>
<text fill="rgb(85,204,85)" font-family="Helvetica, Arial, sans-serif" font-size="10" font-weight="bold" stroke-width="0.0" text-anchor="end" x="100" xml:space="preserve" y="353">83.42 </text>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="100" x2="120" y1="350" y2="370"></line>
<path d="m120,370 l-2,-8 l2,2 l2,-2 z" fill="rgb(85,204,85)" stroke="rgb(85,204,85)" stroke-width="1.0" transform="rotate(-45,120,370)"></path>
<text fill="rgb(85,204,85)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="end" x="100" xml:space="preserve" y="303">1.81 </text>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="100" x2="120" y1="300" y2="320"></line>
<path d="m120,320 l-2,-8 l2,2 l2,-2 z" fill="rgb(85,204,85)" stroke="rgb(85,204,85)" stroke-width="1.0" transform="rotate(-45,120,320)"></path>
<text fill="rgb(85,204,85)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="end" x="100" xml:space="preserve" y="278">4.16 </text>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="100" x2="120" y1="275" y2="295"></line>
<path d="m120,295 l-2,-8 l2,2 l2,-2 z" fill="rgb(85,204,85)" stroke="rgb(85,204,85)" stroke-width="1.0" transform="rotate(-45,120,295)"></path>
<text fill="rgb(85,204,85)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="end" x="100" xml:space="preserve" y="253">0.026 </text>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="100" x2="120" y1="250" y2="270"></line>
<path d="m120,270 l-2,-8 l2,2 l2,-2 z" fill="rgb(85,204,85)" stroke="rgb(85,204,85)" stroke-width="0.5" transform="rotate(-45,120,270)"></path>
<text fill="rgb(85,204,85)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="end" x="100" xml:space="preserve" y="228">0.58 </text>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="100" x2="120" y1="225" y2="245"></line>
<path d="m120,245 l-2,-8 l2,2 l2,-2 z" fill="rgb(85,204,85)" stroke="rgb(85,204,85)" stroke-width="0.5" transform="rotate(-45,120,245)"></path>
<text fill="rgb(85,204,85)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="end" x="100" xml:space="preserve" y="203">3.12 </text>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="100" x2="120" y1="200" y2="220"></line>
<path d="m120,220 l-2,-8 l2,2 l2,-2 z" fill="rgb(85,204,85)" stroke="rgb(85,204,85)" stroke-width="1.0" transform="rotate(-45,120,220)"></path>
<text fill="rgb(85,204,85)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="end" x="100" xml:space="preserve" y="178">3.75 </text>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="100" x2="120" y1="175" y2="195"></line>
<path d="m120,195 l-2,-8 l2,2 l2,-2 z" fill="rgb(85,204,85)" stroke="rgb(85,204,85)" stroke-width="1.0" transform="rotate(-45,120,195)"></path>
<text fill="rgb(85,204,85)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="end" x="100" xml:space="preserve" y="153">0.397 </text>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="100" x2="120" y1="150" y2="170"></line>
<path d="m120,170 l-2,-8 l2,2 l2,-2 z" fill="rgb(85,204,85)" stroke="rgb(85,204,85)" stroke-width="0.5" transform="rotate(-45,120,170)"></path>
<text fill="rgb(85,204,85)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="end" x="100" xml:space="preserve" y="128">1.25 </text>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="100" x2="120" y1="125" y2="145"></line>
<path d="m120,145 l-2,-8 l2,2 l2,-2 z" fill="rgb(85,204,85)" stroke="rgb(85,204,85)" stroke-width="1.0" transform="rotate(-45,120,145)"></path>
<text fill="rgb(85,204,85)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="end" x="100" xml:space="preserve" y="103">0.414 </text>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="100" x2="120" y1="100" y2="120"></line>
<path d="m120,120 l-2,-8 l2,2 l2,-2 z" fill="rgb(85,204,85)" stroke="rgb(85,204,85)" stroke-width="0.5" transform="rotate(-45,120,120)"></path>
</g>
</svg>