<svg height="430" width="426" xmlns="http://www.w3.org/2000/svg">
<g transform="scale(1)">
<title>Pu-241 decay scheme - Alpha branching</title>
<rect fill="rgb(255,255,255)" height="422" stroke="rgb(0,128,255)" stroke-width="1.0" width="422" x="2" y="2"></rect>
<rect fill="rgb(255,255,255)" height="30" stroke="rgb(0,128,255)" stroke-width="1.0" width="45" x="2" y="2"></rect>
<text font-family="Helvetica, Arial, sans-serif" font-size="12" font-weight="bold" text-anchor="middle" x="24.5" xml:space="preserve" y="16.8">α</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="middle" x="24.5" xml:space="preserve" y="27.8">0.00244%</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="357" xml:space="preserve" y="32"><tspan dx="-1" dy="-10">241</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="18" text-anchor="left" x="357" xml:space="preserve" y="32">Pu</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="357" xml:space="preserve" y="32"><tspan dx="-1" dy="3">94</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="316" xml:space="preserve" y="43">14.33 (4) a</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.0" x1="326" x2="396" y1="40" y2="40"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="396" xml:space="preserve" y="37">0</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="326" xml:space="preserve" y="60"> α (%)</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="324.5" x2="310.5" y1="40" y2="54"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="326" x2="312" y1="41.5" y2="55.5"></line>
<path d="m306,60 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="1.0" transform="rotate(45,306,60)"></path>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="367">0</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="372">6.749 d  </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="306" xml:space="preserve" y="367">0 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="306" y1="370" y2="370"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="370" y2="370"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="291" x2="306" y1="370" y2="370"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="342">11.39</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="347"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="306" xml:space="preserve" y="342">1 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="306" y1="345" y2="345"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="345" y2="345"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="291" x2="306" y1="345" y2="345"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="317">56.3</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="322"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="306" xml:space="preserve" y="317">2 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="306" y1="320" y2="320"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="320" y2="320"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="291" x2="306" y1="320" y2="320"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="292">82.97</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="297"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="306" xml:space="preserve" y="292">3 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="306" y1="295" y2="295"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="295" y2="295"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="291" x2="306" y1="295" y2="295"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="267">159.96</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="272">3.1 ns  </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="306" xml:space="preserve" y="267">4 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="306" y1="270" y2="270"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="270" y2="270"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="291" x2="306" y1="270" y2="270"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="242">204.19</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="247"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="306" xml:space="preserve" y="242">5 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="306" y1="245" y2="245"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="245" y2="245"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="291" x2="306" y1="245" y2="245"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="217">260.95</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="222"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="306" xml:space="preserve" y="217">6 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="306" y1="220" y2="220"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="220" y2="220"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="291" x2="306" y1="220" y2="220"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="192">274</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="197">155 ns  </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="306" xml:space="preserve" y="192">7 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="306" y1="195" y2="195"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="195" y2="195"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="291" x2="306" y1="195" y2="195"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="167">316</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="172"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="306" xml:space="preserve" y="167">8 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="306" y1="170" y2="170"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="170" y2="170"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="291" x2="306" y1="170" y2="170"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="142">327</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="147"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="306" xml:space="preserve" y="142">9 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="306" y1="145" y2="145"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="145" y2="145"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="291" x2="306" y1="145" y2="145"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="117">367</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="122"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="306" xml:space="preserve" y="117">10 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="306" y1="120" y2="120"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="120" y2="120"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="291" x2="306" y1="120" y2="120"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="101">(keV)</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="186" xml:space="preserve" y="396"><tspan dx="-1" dy="-10">237</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="18" text-anchor="left" x="186" xml:space="preserve" y="396">U</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="186" xml:space="preserve" y="396"><tspan dx="-1" dy="3">92</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="middle" x="188" xml:space="preserve" y="414">Q<tspan dy="2" font-size="8">α</tspan><tspan dy="-2" font-size="9"> = 5140 keV</tspan></text>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,123,195)" x="126" xml:space="preserve" y="195">6.2e-06</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,123,195)" x="126" xml:space="preserve" y="195">6.2e-06</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="123" x2="123" y1="196" y2="262"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="123" x2="123" y1="195" y2="270"></line>
<path d="m123,270 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,136,220)" x="139" xml:space="preserve" y="220">7.2e-08</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,136,220)" x="139" xml:space="preserve" y="220">7.2e-08</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="136" x2="136" y1="221" y2="262"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="136" x2="136" y1="220" y2="270"></line>
<path d="m136,270 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,149,220)" x="152" xml:space="preserve" y="220">1e-06</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,149,220)" x="152" xml:space="preserve" y="220">1e-06</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="149" x2="149" y1="221" y2="237"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="149" x2="149" y1="220" y2="245"></line>
<path d="m149,245 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,162,245)" x="165" xml:space="preserve" y="245">7e-07</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,162,245)" x="165" xml:space="preserve" y="245">7e-07</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="162" x2="162" y1="246" y2="287"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="162" x2="162" y1="245" y2="295"></line>
<path d="m162,295 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,175,245)" x="178" xml:space="preserve" y="245">4.2e-06</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,175,245)" x="178" xml:space="preserve" y="245">4.2e-06</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="175" x2="175" y1="246" y2="262"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="175" x2="175" y1="245" y2="270"></line>
<path d="m175,270 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,188,270)" x="191" xml:space="preserve" y="270">6.45e-06</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,188,270)" x="191" xml:space="preserve" y="270">6.45e-06</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="188" x2="188" y1="271" y2="362"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="188" x2="188" y1="270" y2="370"></line>
<path d="m188,370 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,201,270)" x="204" xml:space="preserve" y="270">0.0001863</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,201,270)" x="204" xml:space="preserve" y="270">0.0001863</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="201" x2="201" y1="271" y2="337"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="201" x2="201" y1="270" y2="345"></line>
<path d="m201,345 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,214,270)" x="217" xml:space="preserve" y="270">0.000103</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,214,270)" x="217" xml:space="preserve" y="270">0.000103</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="214" x2="214" y1="271" y2="312"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="214" x2="214" y1="270" y2="320"></line>
<path d="m214,320 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,227,270)" x="230" xml:space="preserve" y="270">2.07e-05</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,227,270)" x="230" xml:space="preserve" y="270">2.07e-05</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="227" x2="227" y1="271" y2="287"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="227" x2="227" y1="270" y2="295"></line>
<path d="m227,295 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,240,295)" x="243" xml:space="preserve" y="295">2.9e-06</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,240,295)" x="243" xml:space="preserve" y="295">2.9e-06</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="240" x2="240" y1="296" y2="337"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="240" x2="240" y1="295" y2="345"></line>
<path d="m240,345 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,253,320)" x="256" xml:space="preserve" y="320">2.5e-06</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,253,320)" x="256" xml:space="preserve" y="320">2.5e-06</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="253" x2="253" y1="321" y2="362"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="253" x2="253" y1="320" y2="370"></line>
<path d="m253,370 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,266,320)" x="269" xml:space="preserve" y="320">8.4e-07</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,266,320)" x="269" xml:space="preserve" y="320">8.4e-07</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="266" x2="266" y1="321" y2="337"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="266" x2="266" y1="320" y2="345"></line>
<path d="m266,345 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="326" xml:space="preserve" y="351.5"> 8.6e-06</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="326" xml:space="preserve" y="351.5"> 8.6e-06</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="324.5" x2="310.5" y1="350" y2="364"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="326" x2="312" y1="351.5" y2="365.5"></line>
<path d="m306,370 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,306,370)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="326" xml:space="preserve" y="326.5"> 2.5e-05</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="326" xml:space="preserve" y="326.5"> 2.5e-05</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="324.5" x2="310.5" y1="325" y2="339"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="326" x2="312" y1="326.5" y2="340.5"></line>
<path d="m306,345 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,306,345)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="326" xml:space="preserve" y="301.5"> 1e-05</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="326" xml:space="preserve" y="301.5"> 1e-05</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="324.5" x2="310.5" y1="300" y2="314"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="326" x2="312" y1="301.5" y2="315.5"></line>
<path d="m306,320 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,306,320)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="326" xml:space="preserve" y="276.5"> 3.2e-05</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="326" xml:space="preserve" y="276.5"> 3.2e-05</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="324.5" x2="310.5" y1="275" y2="289"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="326" x2="312" y1="276.5" y2="290.5"></line>
<path d="m306,295 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,306,295)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="326" xml:space="preserve" y="251.5"> 0.00203</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="326" xml:space="preserve" y="251.5"> 0.00203</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="324.5" x2="310.5" y1="250" y2="264"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="326" x2="312" y1="251.5" y2="265.5"></line>
<path d="m306,270 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,306,270)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="326" xml:space="preserve" y="226.5"> 0.000295</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="326" xml:space="preserve" y="226.5"> 0.000295</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="324.5" x2="310.5" y1="225" y2="239"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="326" x2="312" y1="226.5" y2="240.5"></line>
<path d="m306,245 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,306,245)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="326" xml:space="preserve" y="201.5"> 2.9e-05</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="326" xml:space="preserve" y="201.5"> 2.9e-05</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="324.5" x2="310.5" y1="200" y2="214"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="326" x2="312" y1="201.5" y2="215.5"></line>
<path d="m306,220 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,306,220)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="326" xml:space="preserve" y="176.5"> 5e-07</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="326" xml:space="preserve" y="176.5"> 5e-07</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="324.5" x2="310.5" y1="175" y2="189"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="326" x2="312" y1="176.5" y2="190.5"></line>
<path d="m306,195 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,306,195)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="326" xml:space="preserve" y="151.5"> 1.7e-06</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="326" xml:space="preserve" y="151.5"> 1.7e-06</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="324.5" x2="310.5" y1="150" y2="164"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="326" x2="312" y1="151.5" y2="165.5"></line>
<path d="m306,170 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,306,170)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="326" xml:space="preserve" y="126.5"> 7e-07</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="326" xml:space="preserve" y="126.5"> 7e-07</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="324.5" x2="310.5" y1="125" y2="139"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="326" x2="312" y1="126.5" y2="140.5"></line>
<path d="m306,145 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,306,145)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="326" xml:space="preserve" y="101.5"> 7e-07</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="326" xml:space="preserve" y="101.5"> 7e-07</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="324.5" x2="310.5" y1="100" y2="114"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="326" x2="312" y1="101.5" y2="115.5"></line>
<path d="m306,120 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,306,120)"></path>
</g>
</svg>