<svg height="530" width="699" xmlns="http://www.w3.org/2000/svg">
<g transform="scale(1)">
<title>Pu-238 decay scheme - Alpha branching</title>
<rect fill="rgb(255,255,255)" height="522" stroke="rgb(0,128,255)" stroke-width="1.0" width="695" x="2" y="2"></rect>
<rect fill="rgb(255,255,255)" height="30" stroke="rgb(0,128,255)" stroke-width="1.0" width="45" x="2" y="2"></rect>
<text font-family="Helvetica, Arial, sans-serif" font-size="12" font-weight="bold" text-anchor="middle" x="24.5" xml:space="preserve" y="16.8">α</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="middle" x="24.5" xml:space="preserve" y="27.8">100%</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="630" xml:space="preserve" y="32"><tspan dx="-1" dy="-10">238</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="18" text-anchor="left" x="630" xml:space="preserve" y="32">Pu</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="630" xml:space="preserve" y="32"><tspan dx="-1" dy="3">94</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="589" xml:space="preserve" y="43">87.74 (3) a</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.0" x1="599" x2="669" y1="40" y2="40"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="669" xml:space="preserve" y="37">0</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="599" xml:space="preserve" y="60"> α (%)</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="597.5" x2="583.5" y1="40" y2="54"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="599" x2="585" y1="41.5" y2="55.5"></line>
<path d="m579,60 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="1.0" transform="rotate(45,579,60)"></path>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="467">0</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="472">245.5 10<tspan dy="-6" font-size="7">3</tspan><tspan dy="6" font-size="9"> a</tspan> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="579" xml:space="preserve" y="467">0 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="579" y1="470" y2="470"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="470" y2="470"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="564" x2="579" y1="470" y2="470"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="442">43.4981</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="447"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="579" xml:space="preserve" y="442">1 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="579" y1="445" y2="445"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="445" y2="445"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="564" x2="579" y1="445" y2="445"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="417">143.352</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="422"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="579" xml:space="preserve" y="417">2 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="579" y1="420" y2="420"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="420" y2="420"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="564" x2="579" y1="420" y2="420"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="392">296.072</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="397"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="579" xml:space="preserve" y="392">3 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="579" y1="395" y2="395"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="395" y2="395"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="564" x2="579" y1="395" y2="395"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="367">497.04</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="372"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="579" xml:space="preserve" y="367">4 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="579" y1="370" y2="370"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="370" y2="370"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="564" x2="579" y1="370" y2="370"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="342">786.288</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="347"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="579" xml:space="preserve" y="342">5 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="579" y1="345" y2="345"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="345" y2="345"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="564" x2="579" y1="345" y2="345"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="317">809.907</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="322"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="579" xml:space="preserve" y="317">6 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="579" y1="320" y2="320"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="320" y2="320"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="564" x2="579" y1="320" y2="320"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="292">849.266</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="297"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="579" xml:space="preserve" y="292">7 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="579" y1="295" y2="295"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="295" y2="295"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="564" x2="579" y1="295" y2="295"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="267">851.74</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="272"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="579" xml:space="preserve" y="267">8 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="579" y1="270" y2="270"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="270" y2="270"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="564" x2="579" y1="270" y2="270"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="242">926.72</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="247"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="579" xml:space="preserve" y="242">9 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="579" y1="245" y2="245"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="245" y2="245"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="564" x2="579" y1="245" y2="245"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="217">947.64</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="222"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="579" xml:space="preserve" y="217">10 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="579" y1="220" y2="220"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="220" y2="220"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="564" x2="579" y1="220" y2="220"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="192">989.43</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="197"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="579" xml:space="preserve" y="192">11 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="579" y1="195" y2="195"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="195" y2="195"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="564" x2="579" y1="195" y2="195"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="167">1023.77</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="172"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="579" xml:space="preserve" y="167">12 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="579" y1="170" y2="170"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="170" y2="170"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="564" x2="579" y1="170" y2="170"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="142">1044.536</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="147"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="579" xml:space="preserve" y="142">13 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="579" y1="145" y2="145"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="145" y2="145"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="564" x2="579" y1="145" y2="145"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="117">1085.26</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="122"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="579" xml:space="preserve" y="117">14 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="579" y1="120" y2="120"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="120" y2="120"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="564" x2="579" y1="120" y2="120"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="101">(keV)</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="322.5" xml:space="preserve" y="496"><tspan dx="-1" dy="-10">234</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="18" text-anchor="left" x="322.5" xml:space="preserve" y="496">U</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="322.5" xml:space="preserve" y="496"><tspan dx="-1" dy="3">92</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="middle" x="324.5" xml:space="preserve" y="514">Q<tspan dy="2" font-size="8">α</tspan><tspan dy="-2" font-size="9"> = 5593.2 keV</tspan></text>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,123,120)" x="126" xml:space="preserve" y="120">7.7e-08</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,123,120)" x="126" xml:space="preserve" y="120">7.7e-08</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="123" x2="123" y1="121" y2="462"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="123" x2="123" y1="120" y2="470"></line>
<path d="m123,470 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,136,120)" x="139" xml:space="preserve" y="120">1.97e-07</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,136,120)" x="139" xml:space="preserve" y="120">1.97e-07</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="136" x2="136" y1="121" y2="437"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="136" x2="136" y1="120" y2="445"></line>
<path d="m136,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,149,120)" x="152" xml:space="preserve" y="120">4.66e-07</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,149,120)" x="152" xml:space="preserve" y="120">4.66e-07</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="149" x2="149" y1="121" y2="412"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="149" x2="149" y1="120" y2="420"></line>
<path d="m149,420 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,162,120)" x="165" xml:space="preserve" y="120">4.4e-08</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,162,120)" x="165" xml:space="preserve" y="120">4.4e-08</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="162" x2="162" y1="121" y2="337"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="162" x2="162" y1="120" y2="345"></line>
<path d="m162,345 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,175,120)" x="178" xml:space="preserve" y="120">9e-09</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,175,120)" x="178" xml:space="preserve" y="120">9e-09</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="175" x2="175" y1="121" y2="287"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="175" x2="175" y1="120" y2="295"></line>
<path d="m175,295 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,188,145)" x="191" xml:space="preserve" y="145">9.8e-07</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,188,145)" x="191" xml:space="preserve" y="145">9.8e-07</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="188" x2="188" y1="146" y2="437"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="188" x2="188" y1="145" y2="445"></line>
<path d="m188,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,201,145)" x="204" xml:space="preserve" y="145">7e-08</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,201,145)" x="204" xml:space="preserve" y="145">7e-08</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="201" x2="201" y1="146" y2="337"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="201" x2="201" y1="145" y2="345"></line>
<path d="m201,345 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,214,145)" x="217" xml:space="preserve" y="145">6.6e-10</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,214,145)" x="217" xml:space="preserve" y="145">6.6e-10</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="214" x2="214" y1="146" y2="262"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="214" x2="214" y1="145" y2="270"></line>
<path d="m214,270 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,227,170)" x="230" xml:space="preserve" y="170">4.2e-08</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,227,170)" x="230" xml:space="preserve" y="170">4.2e-08</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="227" x2="227" y1="171" y2="437"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="227" x2="227" y1="170" y2="445"></line>
<path d="m227,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,240,170)" x="243" xml:space="preserve" y="170">1.5e-07</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,240,170)" x="243" xml:space="preserve" y="170">1.5e-07</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="240" x2="240" y1="171" y2="412"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="240" x2="240" y1="170" y2="420"></line>
<path d="m240,420 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,253,170)" x="256" xml:space="preserve" y="170">2.7e-09</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,253,170)" x="256" xml:space="preserve" y="170">2.7e-09</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="253" x2="253" y1="171" y2="387"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="253" x2="253" y1="170" y2="395"></line>
<path d="m253,395 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,266,195)" x="269" xml:space="preserve" y="195">9.2e-08</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,266,195)" x="269" xml:space="preserve" y="195">9.2e-08</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="266" x2="266" y1="196" y2="437"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="266" x2="266" y1="195" y2="445"></line>
<path d="m266,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,279,195)" x="282" xml:space="preserve" y="195">8.5e-09</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,279,195)" x="282" xml:space="preserve" y="195">8.5e-09</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="279" x2="279" y1="196" y2="337"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="279" x2="279" y1="195" y2="345"></line>
<path d="m279,345 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,292,195)" x="295" xml:space="preserve" y="195">3.5e-09</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,292,195)" x="295" xml:space="preserve" y="195">3.5e-09</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="292" x2="292" y1="196" y2="287"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="292" x2="292" y1="195" y2="295"></line>
<path d="m292,295 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,305,195)" x="308" xml:space="preserve" y="195">1.1e-08</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,305,195)" x="308" xml:space="preserve" y="195">1.1e-08</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="305" x2="305" y1="196" y2="237"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="305" x2="305" y1="195" y2="245"></line>
<path d="m305,245 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,318,220)" x="321" xml:space="preserve" y="220">6.1e-08</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,318,220)" x="321" xml:space="preserve" y="220">6.1e-08</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="318" x2="318" y1="221" y2="437"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="318" x2="318" y1="220" y2="445"></line>
<path d="m318,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,331,220)" x="334" xml:space="preserve" y="220">1.1e-07</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,331,220)" x="334" xml:space="preserve" y="220">1.1e-07</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="331" x2="331" y1="221" y2="412"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="331" x2="331" y1="220" y2="420"></line>
<path d="m331,420 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,344,245)" x="347" xml:space="preserve" y="245">5.58e-07</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,344,245)" x="347" xml:space="preserve" y="245">5.58e-07</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="344" x2="344" y1="246" y2="462"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="344" x2="344" y1="245" y2="470"></line>
<path d="m344,470 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,357,245)" x="360" xml:space="preserve" y="245">7.2e-07</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,357,245)" x="360" xml:space="preserve" y="245">7.2e-07</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="357" x2="357" y1="246" y2="437"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="357" x2="357" y1="245" y2="445"></line>
<path d="m357,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,370,245)" x="373" xml:space="preserve" y="245">2.2e-08</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,370,245)" x="373" xml:space="preserve" y="245">2.2e-08</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="370" x2="370" y1="246" y2="412"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="370" x2="370" y1="245" y2="420"></line>
<path d="m370,420 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,383,270)" x="386" xml:space="preserve" y="270">1.27e-06</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,383,270)" x="386" xml:space="preserve" y="270">1.27e-06</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="383" x2="383" y1="271" y2="462"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="383" x2="383" y1="270" y2="470"></line>
<path d="m383,470 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,396,270)" x="399" xml:space="preserve" y="270">7.67e-07</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,396,270)" x="399" xml:space="preserve" y="270">7.67e-07</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="396" x2="396" y1="271" y2="437"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="396" x2="396" y1="270" y2="445"></line>
<path d="m396,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,409,270)" x="412" xml:space="preserve" y="270">4.9e-07</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,409,270)" x="412" xml:space="preserve" y="270">4.9e-07</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="409" x2="409" y1="271" y2="412"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="409" x2="409" y1="270" y2="420"></line>
<path d="m409,420 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,422,270)" x="425" xml:space="preserve" y="270">3e-09</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,422,270)" x="425" xml:space="preserve" y="270">3e-09</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="422" x2="422" y1="271" y2="312"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="422" x2="422" y1="270" y2="320"></line>
<path d="m422,320 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,435,295)" x="438" xml:space="preserve" y="295">5.6e-08</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,435,295)" x="438" xml:space="preserve" y="295">5.6e-08</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="435" x2="435" y1="296" y2="437"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="435" x2="435" y1="295" y2="445"></line>
<path d="m435,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,448,295)" x="451" xml:space="preserve" y="295">5e-08</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,448,295)" x="451" xml:space="preserve" y="295">5e-08</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="448" x2="448" y1="296" y2="412"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="448" x2="448" y1="295" y2="420"></line>
<path d="m448,420 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,461,320)" x="464" xml:space="preserve" y="320">2.19e-05</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,461,320)" x="464" xml:space="preserve" y="320">2.19e-05</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="461" x2="461" y1="321" y2="437"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="461" x2="461" y1="320" y2="445"></line>
<path d="m461,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,474,345)" x="477" xml:space="preserve" y="345">3.2e-06</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,474,345)" x="477" xml:space="preserve" y="345">3.2e-06</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="474" x2="474" y1="346" y2="462"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="474" x2="474" y1="345" y2="470"></line>
<path d="m474,470 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,487,345)" x="490" xml:space="preserve" y="345">5.1e-06</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,487,345)" x="490" xml:space="preserve" y="345">5.1e-06</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="487" x2="487" y1="346" y2="437"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="487" x2="487" y1="345" y2="445"></line>
<path d="m487,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,500,370)" x="503" xml:space="preserve" y="370">3.92e-06</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,500,370)" x="503" xml:space="preserve" y="370">3.92e-06</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="500" x2="500" y1="371" y2="387"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="500" x2="500" y1="370" y2="395"></line>
<path d="m500,395 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,513,395)" x="516" xml:space="preserve" y="395">0.00093</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,513,395)" x="516" xml:space="preserve" y="395">0.00093</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="513" x2="513" y1="396" y2="412"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="513" x2="513" y1="395" y2="420"></line>
<path d="m513,420 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,526,420)" x="529" xml:space="preserve" y="420">0.00735</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,526,420)" x="529" xml:space="preserve" y="420">0.00735</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="526" x2="526" y1="421" y2="437"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="526" x2="526" y1="420" y2="445"></line>
<path d="m526,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,539,445)" x="542" xml:space="preserve" y="445">0.0397</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,539,445)" x="542" xml:space="preserve" y="445">0.0397</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="539" x2="539" y1="446" y2="462"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="539" x2="539" y1="445" y2="470"></line>
<path d="m539,470 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="599" xml:space="preserve" y="451.5"> 71.04</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" font-weight="bold" stroke-width="0.0" text-anchor="left" x="599" xml:space="preserve" y="451.5"> 71.04</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="597.5" x2="583.5" y1="450" y2="464"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="599" x2="585" y1="451.5" y2="465.5"></line>
<path d="m579,470 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="1.0" transform="rotate(45,579,470)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="599" xml:space="preserve" y="426.5"> 28.85</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" font-weight="bold" stroke-width="0.0" text-anchor="left" x="599" xml:space="preserve" y="426.5"> 28.85</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="597.5" x2="583.5" y1="425" y2="439"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="599" x2="585" y1="426.5" y2="440.5"></line>
<path d="m579,445 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="1.0" transform="rotate(45,579,445)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="599" xml:space="preserve" y="401.5"> 0.104</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="599" xml:space="preserve" y="401.5"> 0.104</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="597.5" x2="583.5" y1="400" y2="414"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="599" x2="585" y1="401.5" y2="415.5"></line>
<path d="m579,420 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,579,420)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="599" xml:space="preserve" y="376.5"> 0.00292</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="599" xml:space="preserve" y="376.5"> 0.00292</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="597.5" x2="583.5" y1="375" y2="389"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="599" x2="585" y1="376.5" y2="390.5"></line>
<path d="m579,395 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,579,395)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="599" xml:space="preserve" y="351.5"> 6.8e-06</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="599" xml:space="preserve" y="351.5"> 6.8e-06</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="597.5" x2="583.5" y1="350" y2="364"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="599" x2="585" y1="351.5" y2="365.5"></line>
<path d="m579,370 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,579,370)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="599" xml:space="preserve" y="326.5"> 8.21e-06</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="599" xml:space="preserve" y="326.5"> 8.21e-06</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="597.5" x2="583.5" y1="325" y2="339"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="599" x2="585" y1="326.5" y2="340.5"></line>
<path d="m579,345 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,579,345)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="599" xml:space="preserve" y="301.5"> 0.0001</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="599" xml:space="preserve" y="301.5"> 0.0001</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="597.5" x2="583.5" y1="300" y2="314"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="599" x2="585" y1="301.5" y2="315.5"></line>
<path d="m579,320 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,579,320)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="599" xml:space="preserve" y="276.5"> 7.5e-08</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="599" xml:space="preserve" y="276.5"> 7.5e-08</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="597.5" x2="583.5" y1="275" y2="289"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="599" x2="585" y1="276.5" y2="290.5"></line>
<path d="m579,295 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,579,295)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="599" xml:space="preserve" y="251.5"> 8.1e-06</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="599" xml:space="preserve" y="251.5"> 8.1e-06</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="597.5" x2="583.5" y1="250" y2="264"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="599" x2="585" y1="251.5" y2="265.5"></line>
<path d="m579,270 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,579,270)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="599" xml:space="preserve" y="226.5"> 1.3e-06</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="599" xml:space="preserve" y="226.5"> 1.3e-06</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="597.5" x2="583.5" y1="225" y2="239"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="599" x2="585" y1="226.5" y2="240.5"></line>
<path d="m579,245 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,579,245)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="599" xml:space="preserve" y="201.5"> 2.3e-07</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="599" xml:space="preserve" y="201.5"> 2.3e-07</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="597.5" x2="583.5" y1="200" y2="214"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="599" x2="585" y1="201.5" y2="215.5"></line>
<path d="m579,220 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,579,220)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="599" xml:space="preserve" y="176.5"> 1.5e-07</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="599" xml:space="preserve" y="176.5"> 1.5e-07</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="597.5" x2="583.5" y1="175" y2="189"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="599" x2="585" y1="176.5" y2="190.5"></line>
<path d="m579,195 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,579,195)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="599" xml:space="preserve" y="151.5"> 2e-07</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="599" xml:space="preserve" y="151.5"> 2e-07</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="597.5" x2="583.5" y1="150" y2="164"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="599" x2="585" y1="151.5" y2="165.5"></line>
<path d="m579,170 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,579,170)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="599" xml:space="preserve" y="126.5"> 1.17e-06</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="599" xml:space="preserve" y="126.5"> 1.17e-06</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="597.5" x2="583.5" y1="125" y2="139"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="599" x2="585" y1="126.5" y2="140.5"></line>
<path d="m579,145 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,579,145)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="599" xml:space="preserve" y="101.5"> 1.2e-06</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="599" xml:space="preserve" y="101.5"> 1.2e-06</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="597.5" x2="583.5" y1="100" y2="114"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="599" x2="585" y1="101.5" y2="115.5"></line>
<path d="m579,120 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,579,120)"></path>
</g>
</svg>