<svg height="380" width="452" xmlns="http://www.w3.org/2000/svg">
<g transform="scale(1)">
<title>Th-228 decay scheme - Alpha branching</title>
<rect fill="rgb(255,255,255)" height="372" stroke="rgb(0,128,255)" stroke-width="1.0" width="448" x="2" y="2"></rect>
<rect fill="rgb(255,255,255)" height="30" stroke="rgb(0,128,255)" stroke-width="1.0" width="45" x="2" y="2"></rect>
<text font-family="Helvetica, Arial, sans-serif" font-size="12" font-weight="bold" text-anchor="middle" x="24.5" xml:space="preserve" y="16.8">α</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="middle" x="24.5" xml:space="preserve" y="27.8">100%</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="383" xml:space="preserve" y="32"><tspan dx="-1" dy="-10">228</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="18" text-anchor="left" x="383" xml:space="preserve" y="32">Th</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="383" xml:space="preserve" y="32"><tspan dx="-1" dy="3">90</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="342" xml:space="preserve" y="43">1.9126 (9) a</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.0" x1="352" x2="422" y1="40" y2="40"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="422" xml:space="preserve" y="37">0</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="352" xml:space="preserve" y="60"> α (%)</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="350.5" x2="336.5" y1="40" y2="54"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="352" x2="338" y1="41.5" y2="55.5"></line>
<path d="m332,60 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="1.0" transform="rotate(45,332,60)"></path>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="317">0</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="322">3.631 d  </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="332" xml:space="preserve" y="317">0 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="332" y1="320" y2="320"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="320" y2="320"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="317" x2="332" y1="320" y2="320"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="292">84.373</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="297"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="332" xml:space="preserve" y="292">1 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="332" y1="295" y2="295"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="295" y2="295"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="317" x2="332" y1="295" y2="295"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="267">215.985</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="272"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="332" xml:space="preserve" y="267">2 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="332" y1="270" y2="270"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="270" y2="270"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="317" x2="332" y1="270" y2="270"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="242">250.783</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="247"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="332" xml:space="preserve" y="242">3 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="332" y1="245" y2="245"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="245" y2="245"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="317" x2="332" y1="245" y2="245"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="217">290.36</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="222"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="332" xml:space="preserve" y="217">4 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="332" y1="220" y2="220"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="220" y2="220"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="317" x2="332" y1="220" y2="220"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="192">433.07</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="197"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="332" xml:space="preserve" y="192">5 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="332" y1="195" y2="195"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="195" y2="195"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="317" x2="332" y1="195" y2="195"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="167">479.2</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="172"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="332" xml:space="preserve" y="167">6 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="332" y1="170" y2="170"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="170" y2="170"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="317" x2="332" y1="170" y2="170"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="142">916.34</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="147"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="332" xml:space="preserve" y="142">7 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="332" y1="145" y2="145"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="145" y2="145"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="317" x2="332" y1="145" y2="145"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="117">992.65</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="70" xml:space="preserve" y="122"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="end" x="332" xml:space="preserve" y="117">8 </text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="70" x2="332" y1="120" y2="120"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="70" x2="110" y1="120" y2="120"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="317" x2="332" y1="120" y2="120"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="70" xml:space="preserve" y="101">(keV)</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="199" xml:space="preserve" y="346"><tspan dx="-1" dy="-10">224</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="18" text-anchor="left" x="199" xml:space="preserve" y="346">Ra</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="199" xml:space="preserve" y="346"><tspan dx="-1" dy="3">88</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="middle" x="201" xml:space="preserve" y="364">Q<tspan dy="2" font-size="8">α</tspan><tspan dy="-2" font-size="9"> = 5520.08 keV</tspan></text>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,123,120)" x="126" xml:space="preserve" y="120">1.4e-06</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,123,120)" x="126" xml:space="preserve" y="120">1.4e-06</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="123" x2="123" y1="121" y2="312"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="123" x2="123" y1="120" y2="320"></line>
<path d="m123,320 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,136,120)" x="139" xml:space="preserve" y="120">1.7e-06</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,136,120)" x="139" xml:space="preserve" y="120">1.7e-06</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="136" x2="136" y1="121" y2="287"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="136" x2="136" y1="120" y2="295"></line>
<path d="m136,295 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,149,120)" x="152" xml:space="preserve" y="120">1.4e-06</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,149,120)" x="152" xml:space="preserve" y="120">1.4e-06</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="149" x2="149" y1="121" y2="237"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="149" x2="149" y1="120" y2="245"></line>
<path d="m149,245 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,162,145)" x="165" xml:space="preserve" y="145">1.4e-05</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,162,145)" x="165" xml:space="preserve" y="145">1.4e-05</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="162" x2="162" y1="146" y2="287"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="162" x2="162" y1="145" y2="295"></line>
<path d="m162,295 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,175,145)" x="178" xml:space="preserve" y="145">3e-06</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,175,145)" x="178" xml:space="preserve" y="145">3e-06</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="175" x2="175" y1="146" y2="262"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="175" x2="175" y1="145" y2="270"></line>
<path d="m175,270 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,188,170)" x="191" xml:space="preserve" y="170">1.8e-05</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,188,170)" x="191" xml:space="preserve" y="170">1.8e-05</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="188" x2="188" y1="171" y2="237"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="188" x2="188" y1="170" y2="245"></line>
<path d="m188,245 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,201,195)" x="204" xml:space="preserve" y="195">5.1e-06</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,201,195)" x="204" xml:space="preserve" y="195">5.1e-06</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="201" x2="201" y1="196" y2="237"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="201" x2="201" y1="195" y2="245"></line>
<path d="m201,245 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,214,195)" x="217" xml:space="preserve" y="195">1.3e-06</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,214,195)" x="217" xml:space="preserve" y="195">1.3e-06</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="214" x2="214" y1="196" y2="212"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="214" x2="214" y1="195" y2="220"></line>
<path d="m214,220 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,227,220)" x="230" xml:space="preserve" y="220">0.0188</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,227,220)" x="230" xml:space="preserve" y="220">0.0188</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="227" x2="227" y1="221" y2="287"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="227" x2="227" y1="220" y2="295"></line>
<path d="m227,295 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,240,220)" x="243" xml:space="preserve" y="220">0.00039</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,240,220)" x="243" xml:space="preserve" y="220">0.00039</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="240" x2="240" y1="221" y2="262"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="240" x2="240" y1="220" y2="270"></line>
<path d="m240,270 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,253,245)" x="256" xml:space="preserve" y="245">0.1004</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,253,245)" x="256" xml:space="preserve" y="245">0.1004</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="253" x2="253" y1="246" y2="287"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="253" x2="253" y1="245" y2="295"></line>
<path d="m253,295 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,266,270)" x="269" xml:space="preserve" y="270">0.246</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,266,270)" x="269" xml:space="preserve" y="270">0.246</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="266" x2="266" y1="271" y2="312"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="266" x2="266" y1="270" y2="320"></line>
<path d="m266,320 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,279,270)" x="282" xml:space="preserve" y="270">0.127</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,279,270)" x="282" xml:space="preserve" y="270">0.127</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="279" x2="279" y1="271" y2="287"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="279" x2="279" y1="270" y2="295"></line>
<path d="m279,295 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,292,295)" x="295" xml:space="preserve" y="295">1.19</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,292,295)" x="295" xml:space="preserve" y="295">1.19</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="292" x2="292" y1="296" y2="312"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="292" x2="292" y1="295" y2="320"></line>
<path d="m292,320 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="1.0"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="352" xml:space="preserve" y="301.5"> 73.4</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" font-weight="bold" stroke-width="0.0" text-anchor="left" x="352" xml:space="preserve" y="301.5"> 73.4</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="350.5" x2="336.5" y1="300" y2="314"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="352" x2="338" y1="301.5" y2="315.5"></line>
<path d="m332,320 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="1.0" transform="rotate(45,332,320)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="352" xml:space="preserve" y="276.5"> 26</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" font-weight="bold" stroke-width="0.0" text-anchor="left" x="352" xml:space="preserve" y="276.5"> 26</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="350.5" x2="336.5" y1="275" y2="289"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="352" x2="338" y1="276.5" y2="290.5"></line>
<path d="m332,295 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="1.0" transform="rotate(45,332,295)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="352" xml:space="preserve" y="251.5"> 0.408</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="352" xml:space="preserve" y="251.5"> 0.408</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="350.5" x2="336.5" y1="250" y2="264"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="352" x2="338" y1="251.5" y2="265.5"></line>
<path d="m332,270 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,332,270)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="352" xml:space="preserve" y="226.5"> 0.218</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="352" xml:space="preserve" y="226.5"> 0.218</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="350.5" x2="336.5" y1="225" y2="239"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="352" x2="338" y1="226.5" y2="240.5"></line>
<path d="m332,245 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,332,245)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="352" xml:space="preserve" y="201.5"> 0.036</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="352" xml:space="preserve" y="201.5"> 0.036</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="350.5" x2="336.5" y1="200" y2="214"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="352" x2="338" y1="201.5" y2="215.5"></line>
<path d="m332,220 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,332,220)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="352" xml:space="preserve" y="176.5"> 1e-05</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="352" xml:space="preserve" y="176.5"> 1e-05</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="350.5" x2="336.5" y1="175" y2="189"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="352" x2="338" y1="176.5" y2="190.5"></line>
<path d="m332,195 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,332,195)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="352" xml:space="preserve" y="151.5"> 2.4e-05</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="352" xml:space="preserve" y="151.5"> 2.4e-05</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="350.5" x2="336.5" y1="150" y2="164"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="352" x2="338" y1="151.5" y2="165.5"></line>
<path d="m332,170 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,332,170)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="352" xml:space="preserve" y="126.5"> 1.7e-05</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="352" xml:space="preserve" y="126.5"> 1.7e-05</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="350.5" x2="336.5" y1="125" y2="139"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="352" x2="338" y1="126.5" y2="140.5"></line>
<path d="m332,145 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,332,145)"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" x="352" xml:space="preserve" y="101.5"> 4.5e-06</text>
<text fill="rgb(50,50,228)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" x="352" xml:space="preserve" y="101.5"> 4.5e-06</text>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="350.5" x2="336.5" y1="100" y2="114"></line>
<line stroke="rgb(50,50,228)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="352" x2="338" y1="101.5" y2="115.5"></line>
<path d="m332,120 l-2,-8 l2,2 l2,-2 z" fill="rgb(50,50,228)" stroke="rgb(50,50,228)" stroke-width="0.5" transform="rotate(45,332,120)"></path>
</g>
</svg>