<svg height="255" width="348" xmlns="http://www.w3.org/2000/svg">
<g transform="scale(1)">
<title>Xe-133 decay scheme - Beta- branching</title>
<rect fill="rgb(255,255,255)" height="247" stroke="rgb(0,128,255)" stroke-width="1.0" width="344" x="2" y="2"></rect>
<rect fill="rgb(255,255,255)" height="30" stroke="rgb(0,128,255)" stroke-width="1.0" width="45" x="301" y="2"></rect>
<text font-family="Helvetica, Arial, sans-serif" font-size="12" font-weight="bold" text-anchor="middle" x="323.5" xml:space="preserve" y="16.8">β<tspan dy="-4">-</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="middle" x="323.5" xml:space="preserve" y="27.8">100%</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="63" xml:space="preserve" y="32"><tspan dx="-1" dy="-10">133</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="18" text-anchor="left" x="63" xml:space="preserve" y="32">Xe</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="63" xml:space="preserve" y="32"><tspan dx="-1" dy="3">54</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="left" x="110" xml:space="preserve" y="43">5.2474 (5) d</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.0" x1="30" x2="100" y1="40" y2="40"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="30" xml:space="preserve" y="37">0</text>
<text fill="rgb(85,204,85)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="end" x="100" xml:space="preserve" y="60">β<tspan dy="-4">-</tspan><tspan dy="4"> (%) </tspan></text>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="100" x2="120" y1="40" y2="60"></line>
<path d="m120,60 l-2,-8 l2,2 l2,-2 z" fill="rgb(85,204,85)" stroke="rgb(85,204,85)" stroke-width="1.0" transform="rotate(-45,120,60)"></path>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="278" xml:space="preserve" y="192">0</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="278" xml:space="preserve" y="197">  Stable</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="192"> 0</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="278" y1="195" y2="195"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="195" y2="195"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="238" x2="278" y1="195" y2="195"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="278" xml:space="preserve" y="167">80.9979</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="278" xml:space="preserve" y="172">  6.31 ns</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="167"> 1</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="278" y1="170" y2="170"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="170" y2="170"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="238" x2="278" y1="170" y2="170"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="278" xml:space="preserve" y="142">160.612</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="278" xml:space="preserve" y="147"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="142"> 2</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="278" y1="145" y2="145"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="145" y2="145"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="238" x2="278" y1="145" y2="145"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="278" xml:space="preserve" y="117">383.8485</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="left" x="278" xml:space="preserve" y="122"> </text>
<text font-family="Helvetica, Arial, sans-serif" font-size="8" text-anchor="left" x="120" xml:space="preserve" y="117"> 3</text>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.0" x1="120" x2="278" y1="120" y2="120"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="120" x2="135" y1="120" y2="120"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="238" x2="278" y1="120" y2="120"></line>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" font-style="italic" text-anchor="end" x="278" xml:space="preserve" y="101">(keV)</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="197" xml:space="preserve" y="221"><tspan dx="-1" dy="-10">133</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="18" text-anchor="left" x="197" xml:space="preserve" y="221">Cs</text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="end" x="197" xml:space="preserve" y="221"><tspan dx="-1" dy="3">55</tspan></text>
<text font-family="Helvetica, Arial, sans-serif" font-size="9" text-anchor="middle" x="199" xml:space="preserve" y="239">Q<tspan dy="2" font-size="8">β</tspan><tspan dy="-4" font-size="8">-</tspan><tspan dy="2" font-size="9"> = 427.4 keV</tspan></text>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,148,120)" x="151" xml:space="preserve" y="120">0.0028</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,148,120)" x="151" xml:space="preserve" y="120">0.0028</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="148" x2="148" y1="121" y2="187"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="148" x2="148" y1="120" y2="195"></line>
<path d="m148,195 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,161,120)" x="164" xml:space="preserve" y="120">0.0058</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,161,120)" x="164" xml:space="preserve" y="120">0.0058</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="161" x2="161" y1="121" y2="162"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="161" x2="161" y1="120" y2="170"></line>
<path d="m161,170 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,174,120)" x="177" xml:space="preserve" y="120">0.00017</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,174,120)" x="177" xml:space="preserve" y="120">0.00017</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="174" x2="174" y1="121" y2="137"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="174" x2="174" y1="120" y2="145"></line>
<path d="m174,145 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,187,145)" x="190" xml:space="preserve" y="145">0.068</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,187,145)" x="190" xml:space="preserve" y="145">0.068</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="187" x2="187" y1="146" y2="187"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="187" x2="187" y1="145" y2="195"></line>
<path d="m187,195 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,200,145)" x="203" xml:space="preserve" y="145">0.28</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="left" transform="rotate(-60,200,145)" x="203" xml:space="preserve" y="145">0.28</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="200" x2="200" y1="146" y2="162"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="200" x2="200" y1="145" y2="170"></line>
<path d="m200,170 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="0.5"></path>
<text fill="rgb(255,255,255)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke="rgb(255,255,255)" stroke-width="3.0" text-anchor="left" transform="rotate(-60,213,170)" x="216" xml:space="preserve" y="170">37</text>
<text fill="rgb(0,0,0)" font-family="Helvetica, Arial, sans-serif" font-size="10" font-weight="bold" stroke-width="0.0" text-anchor="left" transform="rotate(-60,213,170)" x="216" xml:space="preserve" y="170">37</text>
<line fill="rgb(255,255,255)" stroke="rgb(255,255,255)" stroke-linecap="null" stroke-linejoin="null" stroke-width="2.5" x1="213" x2="213" y1="171" y2="187"></line>
<line stroke="rgb(0,0,0)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="213" x2="213" y1="170" y2="195"></line>
<path d="m213,195 l-2,-8 l2,2 l2,-2 z" fill="rgb(0,0,0)" stroke="rgb(0,0,0)" stroke-width="1.0"></path>
<text fill="rgb(85,204,85)" font-family="Helvetica, Arial, sans-serif" font-size="10" font-weight="bold" stroke-width="0.0" text-anchor="end" x="100" xml:space="preserve" y="153">99.12 </text>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="1.5" x1="100" x2="120" y1="150" y2="170"></line>
<path d="m120,170 l-2,-8 l2,2 l2,-2 z" fill="rgb(85,204,85)" stroke="rgb(85,204,85)" stroke-width="1.0" transform="rotate(-45,120,170)"></path>
<text fill="rgb(85,204,85)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="end" x="100" xml:space="preserve" y="128">0.87 </text>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="100" x2="120" y1="125" y2="145"></line>
<path d="m120,145 l-2,-8 l2,2 l2,-2 z" fill="rgb(85,204,85)" stroke="rgb(85,204,85)" stroke-width="0.5" transform="rotate(-45,120,145)"></path>
<text fill="rgb(85,204,85)" font-family="Helvetica, Arial, sans-serif" font-size="10" stroke-width="0.0" text-anchor="end" x="100" xml:space="preserve" y="103">0.0092 </text>
<line stroke="rgb(85,204,85)" stroke-linecap="null" stroke-linejoin="null" stroke-width="0.5" x1="100" x2="120" y1="100" y2="120"></line>
<path d="m120,120 l-2,-8 l2,2 l2,-2 z" fill="rgb(85,204,85)" stroke="rgb(85,204,85)" stroke-width="0.5" transform="rotate(-45,120,120)"></path>
</g>
</svg>